
{% extends 'stylistdivision/base.html' %}


{% block head %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylistdivision/styles/project.css' %}">

    {% load humanize %}

{% endblock head%}


{% block header %}

<li><a class="" href="{% url 'stylistdivision:list_project' %}">戻る</a></li>

{% endblock header %}


{% block content %}

<div class="menu_wrapper margin_right margin_left">

    <div class="detail_nav">
        <h3 class="margin_right">案件情報</h3>
        <a class="menu_bt width_m" href="{% url 'stylistdivision:update_project' object.id %}">編集</a>
        {% if object.deletedItem == True %}
        <div><p  class="detail_deletedItem">削除済み</p></div>
        {% endif %}
    </div>
  
</div>
  
  <div class="container_detail">
    <dl class="item_dl item1">
      <dt>案件番号</dt>
      <dd class="itemNum">{{ object.projectNum}}</dd>
    </dl>
  
    <dl class="item_dl item2">
      <dt>進捗</dt>
      <dd>{{ object.projectProgress }}</dd>
    </dl>
      
    <dl class="item_dl ite3">
        <dt>納品日・期間</dt>
        <dd>
        {% if object.projectPeriodTo %}
            {{ object.projectPeriodFrom | date:"Y/m/d" }}<p>&nbsp;-&nbsp;</p>{{ object.projectPeriodTo | date:"Y/m/d" }}
        {% else %}
            {{object.projectPeriodFrom | date:"Y/m/d" }}
        {% endif %}
        </dd>
    </dl>
  
    <dl class="item_dl item4">
        <dt>日時詳細</dt>
        <dd>
        {% if object.projectPeriodDetail %}
          {{ object.projectPeriodDetail}}
        {% else %}
        {% endif %}
        </dd>
    </dl>

    <dl class="item_dl item5">
        <dt>場所</dt>
        <dd>
        {% if object.location %}
          {{ object.location}}
        {% else %}
        {% endif %}
        </dd>
    </dl>

    <dl class="item_dl item6">
      <dt>顧客名</dt>
      <dd>{{ object.client}}</dd>
    </dl>
  
    <dl class="item_dl item7">
      <dt>先方担当</dt>
      <dd>
        {% if object.clientDetail %}
          {{ object.clientDetail}}
        {% else %}
        {% endif %}
      </dd>
    </dl>
  
    <dl class="item_dl item8">
      <dt>案件種別</dt>
      <dd>{{ object.projectcategory}}</dd>
    </dl>

    <dl class="item_dl item9">
        <dt>案件名</dt>
        <dd>{{ object.projectName}}</dd>
    </dl>

    <dl class="item_dl item10">
        <dt>当社担当</dt>
        <dd>{{ object.mSatff}}</dd>
    </dl>

    <dl class="item_dl item11">
        <dt>スタイリスト</dt>
        <dd>
            {% if object.staff1 %}{{ object.staff1}}{% else %}{% endif %}
            {% if object.staff2 %}<p>&nbsp;/&nbsp;</p>{{ object.staff2}}{% else %}{% endif %}
            {% if object.staff3 %}<p>&nbsp;/&nbsp;</p>{{ object.staff3}}{% else %}{% endif %}
        </dd>
    </dl>

    <dl class="item_dl item12">
        <dt>アシスタント</dt>
        <dd>
            {% if object.assistant1 %}{{ object.staff1}}{% else %}{% endif %}
            {% if object.assistant2 %}<p>&nbsp;/&nbsp;</p>{{ object.assistant2}}{% else %}{% endif %}
            {% if object.assistant3 %}<p>&nbsp;/&nbsp;</p>{{ object.assistant3}}{% else %}{% endif %}
        </dd>
    </dl>

    <dl class="item_dl item13">
        <dt class="height_l">メモ</dt>
        <dd class="height_l sentence_dd_scroll">{% if not object.description %}
          {% else %}{{ object.description }}
          {% endif %}
        </dd>
    </dl>

    <dl class="item_dl item14 multiple_items_amount">
        <dt class="height_l">税込金額</dt>
        <dd class="height_l flex_box_wrap">

          <div class="flex_box">
            <ul class="flex_box_wrap width_mm height_s flex_end">
                <li class="flex_box">
                    <p class="width_8rem">報酬</p>
                    <p class="width_m text_align_right">{{ object.salesAmount1| intcomma}}</p>
                </li>
                <li class="flex_box margin_top_s">
                    <p class="width_8rem">請求実費</p>
                    <p class="width_m text_align_right">{{ object.salesAmount2| intcomma}}</p>
                </li>
                <li class="flex_box margin_top_s">
                    <p class="width_8rem">その他請求</p>
                    <p class="width_m text_align_right">{{ object.salesAmount3| intcomma}}</p>
                </li>
            </ul>
            <ul class="flex_box_wrap width_mm height_s margin_left_ll flex_end">
                <li class="flex_box">
                    <p class="width_s">売上合計</p>
                    <p class="width_m text_align_right">{{ object.salesTotal| intcomma}}</p>
                </li>
            </ul>
          </div>

          <div  class="flex_box margin_top">
            <ul class="width_mm height_s flex_end">
                <li class="flex_box">
                    <p class="width_8rem">外注費</p>
                    <p class="width_m text_align_right">{{ object.costAmount1| intcomma}}</p>
                </li>
                <li class="flex_box margin_top_s">
                    <p class="width_8rem">社内リース</p>
                    <p class="width_m text_align_right">{{ object.costAmount2| intcomma }}</p>
                </li>
                <li class="flex_box margin_top_s">
                    <p class="width_8rem">その他経費</p>
                    <p class="width_m text_align_right">{{ object.costAmount3| intcomma}}</p>
                </li>
            </ul>

            <ul class="flex_box_wrap width_mm height_s margin_left_ll flex_end">
                <li class="flex_box">
                    <p class="width_s">費用合計</p>
                    <p class="width_m text_align_right">{{ object.costATotal| intcomma}}</p>
                </li>
            </ul>
          </div>

        </dd>
      </dl>



      <dl class="item_dl item15 multiple_items multiple_items_img">
        <dt class="height_l">写真</dt>
        <dd class="height_l">
    
          {% if not object.picture1 %}
          {% else %}
            <p class="margin_right_s">1</p>
            <div class="multiple_items_src" ><a href="/media/{{ object.picture1 }}" data-lightbox="img-group"><img src="/media/{{ object.picture1 }}"></a></div>
          {% endif %}
    
          {% if not object.picture2 %}
          {% else %}
            <p class="margin_right_s margin_left_l">2</p>
            <div class="multiple_items_src"><a href="/media/{{ object.picture2 }}" data-lightbox="img-group"><img src="/media/{{ object.picture2 }}"></a></div>
          {% endif %}
    
          {% if not object.picture3 %}
          {% else %}
            <p class="margin_right_s margin_left_l">3</p>
            <div class="multiple_items_src"><a href="/media/{{ object.picture3 }}" data-lightbox="img-group"><img src="/media/{{ object.picture3 }}"></a></div>
          {% endif %}
    
          {% if not object.picture4 %}
          {% else %}
            <p class="margin_right_s margin_left_l">4</p>
            <div class="multiple_items_src"><a href="/media/{{ object.picture4 }}" data-lightbox="img-group"><img src="/media/{{ object.picture4 }}"></a></div>
          {% endif %}
    
          {% if not object.picture5 %}
          {% else %}
            <p class="margin_right_s margin_left_l">5</p>
            <div class="multiple_items_src"><a href="/media/{{ object.picture5 }}" data-lightbox="img-group"><img src="/media/{{ object.picture5 }}"></a></div>
          {% endif %}
    
          {% if not object.picture6 %}
          {% else %}
            <p class="margin_right_s margin_left_l">6</p>
            <div class="multiple_items_src"><a href="/media/{{ object.picture6 }}" data-lightbox="img-group"><img src="/media/{{ object.picture6 }}"></a></div>
          {% endif %}
    
        </dd>
      </dl>

  
      <dl class="item_dl item16 multiple_items">
        <dt class="height_m">案件資料</dt>
        <dd class="height_m flex_box_wrap">
          {% if not object.refFile1 %}
          {% else %}
          <div class="multiple_items_child">
            <p>1：</p>
            <a href="/media/{{ object.refFile1 }}" target="_blank">{{ object.refFile1 }}</a>
          </div>
          {% endif %}
          
    
          {% if not object.refFile2 %}
          {% else %}
          <div class="multiple_items_child">
            <p>2：</p>
            <a href="/media/{{ object.refFile2 }}" target="_blank">{{ object.refFile2 }}</a>
          </div>
          {% endif %}
    
          {% if not object.refFile3 %}
          {% else %}
          <div class="multiple_items_child">
            <p>3：</p>
            <a href="/media/{{ object.refFile3 }}" target="_blank">{{ object.refFile3 }}</a>
          </div>
          {% endif %}
        </dd>
      </dl>


      <dl class="item_dl item17 multiple_items_URL">
        <dt class="height_m">URL</dt>
        <dd class="height_m">
    
          {% if not object.refURL1 %}
          {% else %}
          <div class="multiple_items_child">
            <p>URL1：</p>
            <a href="{{ object.refURL1 }}" target="_blank">{{ object.refURL1 }}</a>
          </div>
          {% endif %}
    
          {% if not object.refURL2 %}
          {% else %}
          <div class="multiple_items_child">
            <p>URL2：</p>
            <a href="{{ object.refURL2 }}" target="_blank">{{ object.refURL2 }}</a>
          </div>
          {% endif %}
    
          {% if not object.refURL3 %}
          {% else %}
          <div class="multiple_items_child">
            <p>URL3：</p>
            <a href="{{ object.refURL3 }}" target="_blank">{{ object.refURL3 }}</a>
          </div>
          {% endif %}
    
        </dd>
      </dl>


    <dl class="item_dl item18">
      <dt class="height_m">見積書</dt>
      <dd class="height_m">
      </dd>
    </dl>
  
    <dl class="item_dl item19">
        <dt class="height_m">請求書</dt>
        <dd class="height_m">
        </dd>
    </dl>

    <dl class="item_dl item20">
        <dt class="height_m">領収書</dt>
        <dd class="height_m">
        </dd>
    </dl>

    <dl class="item_dl item21">
        <dt class="">支払情報</dt>
        <dd class="">
        </dd>
    </dl>
  
    
  
    <dl class="item_dl item_dl_dummy_s">
      <dt></dt> <dd></dd>
    </dl>
  
    <dl class="item_dl item_dl_dummy_l height_l">
      <dt></dt> <dd></dd>
    </dl>
  
  </div>
  <hr>
  

{% endblock content%}


