{% extends 'stylistdivision/base.html' %}
{% load humanize %}

{% block header %}

  <li><a href="{% url 'stylistdivision:list_settlement' %}">債権回収</a></li>

  <ul class="page_nav margin_left">

    {% if page_obj.has_previous %}
    <li>
      <a class="menu_bt next_bt" href="?{{ query_string }}&page=1" onclick="set_search_key();">&laquo;</a>
    </li>
    <li class="margin_left">
      <a class="menu_bt next_bt" href="?{{ query_string }}&page={{ page_obj.previous_page_number }}" onclick="set_search_key();">
        &lt;
      </a>
    </li>
    {% else %}
    {% endif %}

    {% if page_obj.has_next %}
    <li class="margin_left">
      <a class="menu_bt next_bt" href="?{{ query_string }}&page={{ page_obj.next_page_number }}" onclick="set_search_key();">
        &gt;
      </a>
    </li>
    <li class="margin_left">
      <a class="menu_bt next_bt" href="?{{ query_string }}&page={{ page_obj.paginator.num_pages }}" onclick="set_search_key();">&raquo;</a>
    </ul>
    {% else %}
    {% endif %}

  </ul>

{% endblock%}


{% block content %}

<form method="GET" href="" class="menu_wrapper margin_left_right margin_top_l" >

  <div class="menu_wrapper_inner margin_left">

    <button form="detail_form" class="menu_bt width_m yubi"  type="submit" onclick="set_search_key();">検索</button>
    <h4 class="margin_left_l">{{ items_count |intcomma}} 件</h4>
    <h4 class="margin_left">{{ items_amount.salesTotal |intcomma}} 円</h4>

    <button class="padding_zero yubi margin_left" href="" onclick="clear_criteria();"><h4>条件削除</h4></button>

    <h4 class="text_align_center yubi margin_left" id="display_button_color" onclick="display_switch_bt();"><span id="filter_bt_on">表示</span><span id="filter_bt_off">非表示</span></h4>

  </div>

  <!-- record id 自動入力 type="hidden"-->
  <input type="hidden" name="selected_record_list" id="selected_record_list">


  <div class="list_filter_items" id="detail_form">

  <dl>
    <dt>進捗</dt>
    <dd>
      {{search_form.projectProgress}}
    </dd>
  </dl>

  <dl>
    <dt>顧客</dt>
    <dd>
      {{search_form.client}}
    </dd>
  </dl>

  <dl>
    <dt>案件分類</dt>
    <dd>
      {{search_form.projectCategory}}
    </dd>
  </dl>

  <dl>
    <dt>案件名</dt>
    <dd><input id="description2" name="description2" value="{{ request.GET.description2 }}" type="text"></dd>
  </dl>

  <dl>
    <dt>メモ</dt>
    <dd><input id="memo" name="memo" value="{{ request.GET.memo }}" type="text"></dd>
  </dl>


  <dl class="list_filter_date">
    <dt>請求時期</dt>
    <dd>
      <input id="transactionDateFrom" name="transactionDateFrom" value="{{ request.GET.transactionDateFrom }}" type="date">
      <p>-</p>
      <input id="transactionDateTo" name="transactionDateTo" value="{{ request.GET.transactionDateTo }}" type="date">
    </dd>
  </dl>


  <dl class="list_filter_date">
    <dt>売上高</dt>
    <dd>
      <input id="amountFrom" name="amountFrom" value="{{ request.GET.amountFrom }}" type="number">
      <p>-</p>
      <input id="amountTo" name="amountTo" value="{{ request.GET.amountTo }}" type="number">
    </dd>
  </dl>

  </div>

</form>




<div class="margin_left_right margin_top"><h3>プロジェクト一覧</h3></div>
<table class="item-table">

	<tr>
		<th class="sticky_col_th first_col">選択</th>
		<th class="sticky_col_th second_col">No.</th>
    <th>日付</th>
    <th>進捗</th>
    <th>記載</th>
    <th>入金</th>
    <th>振込手数料</th>
    <th>その他金額</th>
    <th>合計金額</th>
		<th>債権処理メモ</th>
    <th>振込情報メモ</th>
  </tr>
  
  {% for item in object_list %}

  <!-- 進捗状況に応じた色の設定 -->

    {% if item.arCheck.no == 0 %}
    <tr class="row-yellow">
    {% elif item.arCheck.no == 1 %}
    <tr class="row-blue">
    {% endif %}

      <td class="sticky_col_td first_col text_align_center">
        <input type="checkbox" name="selected_record" value="{{ item.pk }}" onclick="selected_record()">
      </td>

      <td class="sticky_col_td second_col"><a href="">{{ item.projectNum}}</a></td>
      <td>{{ item.projectProgress }}</td>
      <td>{{ item.client }}</td>
      <td class="date_col">{{ item.statement.quotationDate | date:"Y-m-j"}}</td>
      <td class="date_col">{{ item.statement.invoiceDate | date:"Y-m-j"}}</td>
  
      <td>
        {% if item.statement.description2 %}
          {{ item.statement.description2 }}
        {% else %}
        {% endif %}
      </td>
      <td class="number_col">{{ item.statement.deopsitAmount|intcomma}}</td>
      <td class="number_col">{{ item.transferFee|intcomma}}</td>
      <td class="number_col">{{ item.otherAmount|intcomma}}</td>
      <td class="number_col">{{ item.totalAmount|intcomma}}</td>

      <td>
        {% if item.memo %}
          {{ item.memo }}
        {% else %}
        {% endif %}
      </td>
      <td>
        {% if item.refFile %}
          <p>URL</p>
        {% else %}
        {% endif %}
      </td>          
  </tr>

  {% endfor %}
  
</table>



{% load static %}
<script src="{% static 'stylistdivision/js/list_settlement.js' %}"></script>
  


{% endblock content%}


