{% extends 'account/base.html' %}


{% block title %}
ログイン
{% endblock title %}


{% block contents %}
<div class="container">
<h1>mahna mahna 管理ツール</h1>

      
    {% if user.is_authenticated %}
    <ul>
        <li><h2>ユーザ名： {{ user.get_username }}</h2></li>
        <li><h2>メールアドレス： {{ user.email }}</h2></li>
        <li><h2>セッション開始時刻: {{ user.last_login }}</h2></li>
        
        <li><a href="{% url 'home' %}">ホームへ</li>
        <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
    </ul>

    {% else %}
    <a href="/accounts/google/login/?process=login"><h2>Googleアカウントによるログイン</h2></a>

    {% endif %}
</div>

{% endblock contents %}
