{% extends 'account/base.html' %}


{% block title %}
ログイン
{% endblock title %}


{% block contents %}
<h1>ログイン</h1>

      
    {% if user.is_authenticated %}
    <h2>
        ログイン済み<br>
        ユーザ名： {{ user.get_username }} <br>
        メールアドレス： {{ user.email }}<br>
        セッション開始時刻: {{ user.last_login }}
    </h2>

    <ul>
        <li><a href="{% url 'home' %}">ホームへ</li>
        <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
    </ul>

    {% else %}
    <a href="/accounts/google/login/?process=login"><h1>Googleアカウントによるログイン</h1></a>

    {% endif %}


{% endblock contents %}
