{% extends 'goodidea/base.html' %}

{% block header %}

  <li>
    <a href="{% url 'goodidea:list_all' %}"><p>一覧へ戻る</p></a>
  </li>
  
{% endblock header %}

{% block content %}

<form class="container_create" method="POST" enctype="multipart/form-data">{% csrf_token %}

  <div class="menu_wrapper_inner item0">
    <input class="menu_bt" type="submit" value='登録実行'>
  </div>

  <dl class="item_dl item1">
    <dt>番号</dt>
    <dd>-</dd>
  </dl>

  <dl class="item_dl item2">
    <dt>登録日</dt>
    <dd class="item_submissionDate" id="submissionDateInit">{{ form.submissionDate }}</dd>
  </dl>
    
  <dl class="item_dl item3">
    <dt>完了日</dt>
    <dd>-</dd>
  </dl>


  <dl class="item_dl item4">
    <dt>進捗</dt>
    <dd class="item_progress">
      {{ form.progress}}
      <p>新規</p>
    </dd>
  </dl>

  <dl class="item_dl item5">
    <dt>分類</dt>
    <dd class="dd_children_flex">
      {{ form.category}}
      <div class="purchase"><p>購入</p>{{ form.purchase}}</div>
      <div class="system"><p>システム</p>{{ form.system}}</div>
    </dd>
  </dl>

  <dl class="item_dl item6 staffNumber">
    <dt>提案者</dt>
    <dd id="staffNumber">
      <input name="staffNumber" type="number">
      {{ form.staffdb}}
    </dd>
  </dl>

  <dl class="item_dl item7">
    <dt>所属</dt>
    <dd>{{ form.division}}</dd>
  </dl>

  <dl class="item_dl item8">
    <dt class="height_l sentence_dt">提案内容</dt>
    <dd class="height_l sentence_dd">{{ form.title}}</dd>
  </dl>

  <dl class="item_dl item9">
    <dt class="height_l sentence_dt">根拠</dt>
    <dd class="height_l sentence_dd">{{ form.description}}</dd>
  </dl>


  <dl class="item_dl item13">
    <dt>実施<br>担当者</dt>
    <dd>{{ form.inchargeStaff}}</dd>
  </dl>

  <dl class="item_dl item14">
    <dt>実施部門<br>/PJ</dt>
    <dd>{{ form.inchargeDivision}}</dd>
  </dl>

  <dl class="item_dl item10 multiple_items">
    <dt class="height_l">URL</dt>
    <dd class="height_l">
      <div>{{ form.refURL1 }}</div>
      <div>{{ form.refURL2 }}</div>
      <div>{{ form.refURL3 }}</div>
    </dd>
  </dl>

  <dl class="item_dl item11 multiple_items">
    <dt class="height_l">写真</dt>
    <dd class="height_l multiple_items_update">

      <div class="attachment_update">
        <p>写真（1）</p>
        <div>{{ form.picture1 }}</div>
      </div>

      <div class="attachment_update">
        <p>写真（2）</p>
        <div>{{ form.picture2 }}</div>
      </div>

      <div class="attachment_update">
        <p>写真（3）</p>
        <div>{{ form.picture3 }}</div>
      </div>

      <div class="attachment_update">
        <p>写真（4）</p>
        <div>{{ form.picture4 }}</div>
      </div>

      <div class="attachment_update">
        <p>写真（5）</p>
        <div>{{ form.picture5 }}</div>
      </div>

      <div class="attachment_update">
        <p>写真（6）</p>
        <div>{{ form.picture6 }}</div>
      </div>

    </dd>
  </dl>

  <dl class="item_dl item12 multiple_items">
    <dt class="height_l">資料</dt>
    <dd class="height_l multiple_items_update">

      <div class="attachment_update">
        <p>資料（1）</p>
        <div>{{ form.refFile1 }}</div>
      </div>

      <div class="attachment_update">
        <p>資料（2）</p>
        <div>{{ form.refFile2 }}</div>
      </div>
      
      <div class="attachment_update">
        <p>資料（3）</p>
        <div>{{ form.refFile3 }}</div>
      </div>
    </dd>
  </dl>



  <dl class="item_dl item_dl_dummy_s">
    <dt></dt>
    <dd></dd>
  </dl>
  
  <dl class="item_dl item_dl_dummy_l height_l">
    <dt></dt>
    <dd></dd>
  </dl>
  
</form>
<hr>

{% include 'goodidea/create_base.html' %}


{% block extrajs %}
<script>

/*ajax起動用*/
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
  beforeSend: function (xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
  }
});
/*----------*/


let staffNumberElement = document.getElementById('staffNumber').children[0];
let staffdbElement = document.getElementById('staffNumber').children[1];

console.log(staffNumberElement.value)
console.log(staffdbElement)

const inputStaffNumber = (select) => {
 
  for (let i = staffdbElement.childElementCount-1 ; i >= 0; i--) {  
    staffdbElement.remove(i);
  };

  $.ajax({
      url: "{% url 'goodidea:ajax_get_staff' %}",
      type: 'GET',
      data: {'staffNumber': staffNumberElement.value},
  }).done(response => {

    // 選択肢を作成
    
    let items_staffdb = response.staffList
    console.log(items_staffdb)
    console.log(items_staffdb.length)

    for (let i = 0; i < items_staffdb.length; i++) {  
      let option = document.createElement('option')
      option.setAttribute('value', items_staffdb[i]['pk']);
      option.innerHTML = items_staffdb[i]['fullName'];

      staffdbElement.appendChild(option); 
      };
  });
  console.log(staffdbElement)  
};



staffNumberElement.addEventListener('change', () => {
  inputStaffNumber();
});

</script>
{% endblock extrajs %}


{% endblock content%}

