{% extends 'goodidea/base.html' %}

{% block header %}
  <li>
    <a href="{% url 'goodidea:list_all' %}"><p>一覧へ戻る</p></a>
  </li>
{% endblock header %}



{% block content %}

<div class="menu_wrapper">

  <div class="detail_nav">
    <a class="menu_bt" href="{% url 'goodidea:update_item' object.id %}">編集</a>
    {% if object.deletedItem == True %}
      <div><p  class="detail_deletedItem">削除済み</p></div>
    {% endif %}
  </div>
  <ul class="page_nav">
    <li>
      {% with prev=item.get_prev_item_by_itemNum %}
        {% if prev %}
          <a class="menu_bt next_bt" href="{% url 'goodidea:detail_item' prev.pk %}">＜</a>
        {% endif %}
      {% endwith %}
    </li>

    <li>
      {% with next=item.get_next_item_by_itemNum %}
        {% if next %}
          <a class="menu_bt menu_bt_mg_left next_bt" href="{% url 'goodidea:detail_item' next.pk %}">＞</a>
        {% endif %}
      {% endwith %}
    </li>
  </ul>

</div>

{% include 'goodidea/detail_base.html' %}
  
{% endblock content%}

