<table class="item-table">

	<tr>
		<th class="sticky_col_th">No</th>
		<th>登録日</th>

    {% if list_type == 'list_action' %}
    {% else %}
      <th>期日</th>
    {% endif %}

    <th>進捗</th>
    <th>提案者</th>
    <th>所属</th>
		<th>分類</th>
		<th>提案・実施内容</th>
		<th>根拠</th>

		<th class="src_col" colspan="3">URL</th>
		<th class="src_col" colspan="3">写真</th>
		<th class="src_col" colspan="3">資料</th>
    
    {% if list_type == 'list_action' %}
    {% else %}
      <th>検討日</th>
      <th>議事録</th>
      <th>方針・報告</th>

      <th>担当部門</th>
      <th>担当者</th>
    {% endif %}

    <th>完了日</th>
    <th>管理用</th>
    
  </tr>
  
  </tr>
  {% for item in object_list %}

    <!-- 進捗状況に応じた色の設定 -->
    {% if item.progress.no == 1 %}
      <tr class="row-white">
    {%  elif item.progress.no == 2 %}
      <tr class="row-yellow">
    {%  elif item.progress.no == 3 %}
      <tr class="row-gray">
    {%  elif item.progress.no == 4 %}
      <tr class="row-blue">
    {%  elif item.progress.no == 5 %}
      <tr>
    {% endif %}


    <!-- 場合分け list_all -->

      {% if list_type == 'list_all' %}

        <td class="sticky_col_td">
          <a href="{% url 'goodidea:detail_item' item.pk %}">
            {% if item.ideaNum != 0 %}
                {{ item.ideaNum }}
            {% else %}
                {{ item.actionNum }}-共
            {% endif %}
          </a>
        </td>

    <!-- 場合分け list_idea / list_action -->

     {% elif list_type == 'list_idea' or list_type == 'list_action'  %}
    
        <td class="sticky_col_td">
          {% if item.ideaNum > 0 %}
            <a href="{% url 'goodidea:detail_sub' item.pk %}">
              {{ item.ideaNum }}
            </a>
          {% else %}
            <a href="{% url 'goodidea:detail_sub' item.pk %}">
              {{ item.actionNum }}-共
            </a>
          {% endif %}
        </td>


    <!-- 場合分け list_filter -->

      {% elif list_type == 'list_filter' %}

        <td class="sticky_col_td"  onclick="set_search_key(), count_key_clear()" >
          {% if item.ideaNum > 0 %}
            <a href="{% url 'goodidea:detail_filter' item.pk %}">
              {{ item.ideaNum }}
            </a>
          {% else %}
            <a href="{% url 'goodidea:detail_filter' item.pk %}">
              {{ item.actionNum }}-共
            </a>
          {% endif %}
        </td>
      
    <!-- 場合分け list_due -->

       {% elif list_type == 'list_due'  %}
        <td class="sticky_col_td">
          <a href="{% url 'goodidea:detail_due' item.pk %}">
            {{ item.ideaNum }}
          </a>
        </td>
        
      {% else %}
      {% endif %}

      
      <td class="date_col">{{ item.submissionDate | date:"Y/m/d"}}</td>


        
      {% if list_type == 'list_action' %}
      {% else %}

        <td  class="date_col">
          {% if item.dueDate != None %}
            {{ item.dueDate | date:"Y/m/d"}}
          {% else %}
            <p>-</p>
          {% endif %}
        </td>

      {% endif %}
        
      <td>{{ item.progress.name }}</td>
      <td>{{ item.staff }}</td>
      <td>{{ item.division.name }}</td>
      <td>{{ item.category.name }}</td>
      <td class="longText">{{ item.title }}</td>
      <td class="longText">{{ item.description }}</td>


      <td class="src_col">
        {% if not item.refURL1 %}
          <p></p>
        {% else %}
          <a href="{{ item.refURL1 }}">1</a>
        {% endif %}
      </td>

      <td class="src_col">
        {% if not item.refURL2 %}
          <p></p>
        {% else %}
          <a href="{{ item.refURL2 }}">2</a>
        {% endif %}
      </td>
      
      <td class="src_col">
        {% if not item.refURL3 %}
          <p></p>
        {% else %}
          <a href="{{ item.refURL3 }}">3</a>
        {% endif %}
      </td>

      <td class="src_col">
        {% if not item.picture1 %}
          <p></p>
        {% else %}
          <a href="/media/{{ item.picture1 }}">1</a>
        {% endif %}
      </td>

      <td class="src_col">
        {% if not item.picture2 %}
          <p></p>
        {% else %}
          <a href="/media/{{ item.picture2 }}">2</a>
        {% endif %}
      </td>

      <td class="src_col">
        {% if not item.picture3 %}
          <p></p>
        {% else %}
          <a href="/media/{{ item.picture3 }}">3</a>
        {% endif %}
      </td>
      


      <td class="src_col">
        {% if not item.refFile1 %}
          <p></p>
        {% else %}
          <a href="/media/{{ item.refFile1 }}">1</a>
        {% endif %}
      </td>

      <td class="src_col">
        {% if not  item.refFile2 %}
          <p></p>
        {% else %}
          <a href="/media/{{ item.refFile2 }}">2</a>
        {% endif %}
      </td>

      <td class="src_col">
        {% if not item.refFile3 %}
          <p></p>
        {% else %}
          <a href="/media/{{ item.refFile3 }}">3</a>
        {% endif %}
      </td>


    {% if list_type == 'list_action' %}
    {% else %}

      <td  class="date_col">
        {% if item.discussionDate != None %}
          {{ item.discussionDate | date:"Y/m/d"}}
        {% else %}
          <p>-</p>
        {% endif %}
      </td>

      <td class="longText">{{ item.discussionNote }}</td>
      <td class="longText">{{ item.report }}</td>
      
      <td>{{ item.inchargeDivision }}</td>
      <td>{{ item.inchargeStaff }}</td>
  
    {% endif %}
        

      <td class="date_col">
        {% if item.completionDate != None %}
          {{ item.completionDate | date:"Y/m/d"}}
        {% else %}
          <p>-</p>
        {% endif %}
      </td>
      
      <td>{{ item.adminMemo }}</td>
    
      </tr>

  {% endfor %}
  
</table>
    