{% extends 'goodidea/base.html' %}

{% block header %}

  <li><a href="{% url 'goodidea:list_filter' %}">一覧へ戻る</a></li>

{% endblock%}


{% block content %}


<div class="menu_wrapper">
  <div></div>
  <ul class="page_nav">
    <li>
      {% if page_obj.has_previous %}
        <a class="menu_bt next_bt" href="?page={{ page_obj.previous_page_number }}">＜</a>
      {% else %}
      {% endif %}
    </li>

    <li>
      {% if page_obj.has_next %}
        <a class="menu_bt menu_bt_mg_left next_bt" href="?page={{ page_obj.next_page_number }}">＞</a>
      {% else %}
      {% endif %}
    </li>
  </ul>
</div>


{% include 'goodidea/list_base.html' %}


{% endblock content%}


