{% extends 'goodidea/base.html' %}

{% block header %}

  <li><a href="{% url 'goodidea:list_all' %}">全件一覧</a></li>
  <li><a href="{% url 'goodidea:list_action' %}">店舗完了案件</a></li>
  <li><a href="{% url 'goodidea:list_filter' %}">検索画面</a></li>

{% endblock%}

{% block content %}

<div class="menu_wrapper">
  <a class="menu_bt" href="{% url 'goodidea:create_idea' %}">新規提案</a>

  <ul class="page_nav">
    <li>
      {% if page_obj.has_previous %}
        <a class="menu_bt next_bt" href="?page={{ page_obj.previous_page_number }}">＜</a>
      {% else %}
      {% endif %}
    </li>
  
    <li>
      {% if page_obj.has_next %}
        <a class="menu_bt menu_bt_mg_left next_bt" href="?page={{ page_obj.next_page_number }}">＞</a>
      {% else %}
      {% endif %}
    </li>
  </ul>

</div>


<table class="item-table">

	<tr>
		<th class="sticky_col_th">No</th>
		<th>登録日</th>
    <th>進捗</th>
    <th>提案者</th>
    <th>所属</th>
		<th>分類</th>
		<th>提案内容</th>
		<th>理由説明</th>

		<th class="src_col" colspan="3">URL</th>
		<th class="src_col" colspan="3">写真</th>
		<th class="src_col" colspan="3">資料</th>
    
    <th>検討日</th>
    <th>検討内容</th>
    <th>担当者</th>
    <th>担当部門</th>
    <th>実施報告</th>
    <th>完了日</th>
    <th>管理用</th>
    
  </tr>
  
  </tr>
  {% for item in object_list %}

    <!-- 進捗状況に応じた色の設定 -->
    {% if item.progress.no == 1 %}
      <tr class="row-white">
    {%  elif item.progress.no == 2 %}
      <tr class="row-blue">
    {%  elif item.progress.no == 3 %}
      <tr class="row-gray">
    {%  elif item.progress.no == 4 %}
      <tr class="row-green">
    {%  elif item.progress.no == 5 %}
      <tr>
    {% endif %}
        <td class="sticky_col_td">
          {% if item.ideaNum > 0 %}
            <a href="{% url 'goodidea:detail_sub' item.pk %}">
              {{ item.ideaNum }}
            </a>
          {% else %}
            <a href="{% url 'goodidea:detail_sub' item.pk %}">
              {{ item.actionNum }}-店
            </a>
          {% endif %}
        </td>
        <td class="date_col">{{ item.submissionDate | date:"Y/m/d"}}</td>
        
        <td>{{ item.progress.name }}</td>
        <td>{{ item.staff }}</td>
        <td>{{ item.division.name }}</td>
        <td>{{ item.category.name }}</td>
        <td class="longText">{{ item.title }}</td>
        <td class="longText">{{ item.description }}</td>



        <td class="src_col">
          {% if not item.refURL1 %}
          <p></p>
          {% else %}
            <a href="{{ item.refURL1 }}">1</a>
          {% endif %}
        </td>
        <td class="src_col">
          {% if not item.refURL2 %}
          <p></p>
          {% else %}
            <a href="{{ item.refURL2 }}">2</a>
          {% endif %}
        </td>
        <td class="src_col">
          {% if not item.refURL3 %}
          <p></p>
          {% else %}
            <a href="{{ item.refURL3 }}">3</a>
          {% endif %}
        </td>

        <td class="src_col">
          {% if not item.picture1 %}
          <p></p>
          {% else %}
            <a href="/media/{{ item.picture1 }}">1</a>
          {% endif %}
        </td>

        <td class="src_col">
          {% if not item.picture2 %}
          <p></p>
          {% else %}
            <a href="/media/{{ item.picture2 }}">2</a>
          {% endif %}
        </td>

        <td class="src_col">
          {% if not item.picture3 %}
          <p></p>
          {% else %}
            <a href="/media/{{ item.picture3 }}">3</a>
          {% endif %}
        </td>
      


        <td class="src_col">
          {% if not item.refFile1 %}
          <p></p>
          {% else %}
            <a href="/media/{{ item.refFile1 }}">1</a>
          {% endif %}
        </td>

        <td class="src_col">
          {% if not  item.refFile2 %}
          <p></p>
          {% else %}
            <a href="/media/{{ item.refFile2 }}">2</a>
          {% endif %}
        </td>

        <td class="src_col">
          {% if not item.refFile3 %}
          <p></p>
          {% else %}
            <a href="/media/{{ item.refFile3 }}">3</a>
          {% endif %}
        </td>



        <td  class="date_col">
          {% if item.discussionDate != None %}
            {{ item.discussionDate | date:"Y/m/d"}}
          {% else %}
            <p>-</p>
          {% endif %}
        </td>
        <td class="longText">{{ item.discussionNote }}</td>
        <td class="longText">{{ item.report }}</td>
        <td>{{ item.inchargeStaff }}</td>
        <td>{{ item.inchargeDivision }}</td>
        
        <td class="date_col">
          {% if item.completionDate != None %}
            {{ item.completionDate | date:"Y/m/d"}}
          {% else %}
            <p>-</p>
          {% endif %}
        </td>
        
        <td>{{ item.adminMemo }}</td>
      
      </tr>
    
  {% endfor %}

</table>

{% endblock content%}


