{% extends 'goodidea/base.html' %}


{% block header %}
  <li>
    <a href="{% url 'goodidea:list_all' %}">一覧へ戻る</a>
  </li>
{% endblock%}

{% block content %}


  <form action="{% url 'goodidea:list_filter' %}" method="GET" class="list_filter">
    
  <div class="menu_wrapper">
    <div class="filter_bt_wrapper">
      <button id="search_btn" onclick="set_search_key()" class="menu_bt" type="submit">検索実施</button>
      <a class="menu_bt menu_bt_mg_left" href="{% url 'goodidea:list_filter' %}">条件削除</a>
      <p class="menu_bt menu_bt_mg_left" onclick="filter_item_bt()"><span id="filter_bt_on">条件非表示</span><span id="filter_bt_off">条件表示</span></p>
    </div>

    <ul class="page_nav">
      <li>
        {% if page_obj.has_previous %}
          <a class="menu_bt next_bt" href="?{{ query_string }}&page={{ page_obj.previous_page_number }}" onclick="set_search_key()">
            ＜
          </a>
        {% else %}
        {% endif %}
      </li>
    
      <li>
        {% if page_obj.has_next %}
          <a class="menu_bt menu_bt_mg_left next_bt" href="?{{ query_string }}&page={{ page_obj.next_page_number }}" onclick="set_search_key()">
            ＞
          </a>
        {% else %}
        {% endif %}
      </li>
    </ul>
  </div>


    <div id="filter_items" class="list_filter_items">

      <form method="POST" aciton="">

      <dl class="ideaOrAction_filter">
        <dt>案件区分</dt>
        <dd>
          <input class="radio_left_end" type="radio" name="ideaOrAction" value="0">協議案件
          <input type="radio" name="ideaOrAction" value="1">共有案件
          <input type="radio" name="ideaOrAction" value="2" checked="checked">両方
        </dd>
      </dl>

      <dl class="category_purchase_filter">
        <dt>購入</dt>
        <dd>
          <input id="purchase" name="purchase" type="checkbox" value="1">
        </dd>
      </dl>

      <dl class="category_system_filter">
        <dt>システム</dt>
        <dd>
          <input id="system" name="system" type="checkbox" value="1">
        </dd>
      </dl>

      <dl>
        <dt>提案者</dt>
        <dd><input id="staff" name="staff" value="{{ request.GET.staff }}" type="text"></dd>
      </dl>

      <dl>
        <dt>所属</dt>
        <dd>
          <select id="division" name="division" class="list_filter_select" type="number">
            <option value=0>全部門</option>
          {% for division in divisionSelect_list %}
            <option value="{{ division.id }}">{{ division.name }}</option>
          {% endfor %}
        </select>
        </dd>
      </dl>

      <dl>
        <dt>実施担当者</dt>
        <dd><input id="inchargeStaff"  name="inchargeStaff" value="{{ request.GET.inchargeStaff }}" type="text"></dd>
      </dl>

      <dl>
        <dt>実施部門/PJ</dt>
        <dd><input id="inchargeDivision" name="inchargeDivision" value="{{ request.GET.inchargeDivision }}" type="text"></dd>
      </dl>

      <dl>
        <dt>進捗</dt>
        <dd>
          <select id="progress" onchange="progressSelect()" name="progress"  class="list_filter_select" type="number">
              <option value=0>全進捗</option>
            {% for progress in progressSelect_list %}
              <option value="{{ progress.id }}">{{ progress.name }}</option>
            {% endfor %}
          </select>
        </dd>
      </dl>

      <dl>
        <dt>キーワード</dt>
        <dd><input id="word" name="word" value="{{ request.GET.word }}" type="text"></dd>
      </dl>

      <dl class="list_filter_date">
        <dt>登録日</dt>
        <dd>
          <input id="submissionDateFrom" name="submissionDateFrom" value="{{ request.GET.submissionDateFrom }}" type="date">
          <p>-</p>
          <input id="submissionDateTo" name="submissionDateTo" value="{{ request.GET.submissionDateTo }}" type="date">
        </dd>
      </dl>

      <dl class="list_filter_date" id="completionDateFilter">
        <dt>完了日</dt>
        <dd>
          <input id="completionDateFrom" name="completionDateFrom" value="{{ request.GET.completionDateFrom }}" type="date">
          <p>-</p>
          <input id="completionDateTo" name="completionDateTo" value="{{ request.GET.completionDateTo }}" type="date"></dd>
        </dd>
      </dl>
    </div>
  </form>


  {% include 'goodidea/list_base.html' %}

  

  {% load static %}
  <script src="{% static 'goodidea/js/list_filter.js' %}"></script>
  

{% endblock content%}