<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript"  src="{% static 'jquery-2.1.3.min.js' %}"></script>

    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>home</title>
</head>

<body>
<div class="header">

    <div class="title">
        <img class="icon-l" src="{% static 'favicon.png' %}">
        <div>
            <h1>管理ツール</h1>
            <h2>2021.4.25 v1</h2>
        </div>
    </div>

</div>

<section>

{% if user.is_authenticated %}
    <ul class="login-user">
        <li>ユーザ名： {{ user.get_username }}</li>
        <li>メールアドレス： {{ user.email }}</li>
        <li>セッション開始時刻: {{ user.last_login }}</li>
        <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
    </ul>

    <ul class="apps">
        <li>
            <img class="icon-s" src="{% static 'favicon_mono.png' %}">
            <a href="{% url 'goodidea:list_all' %}">
                <h1>Good idea</h1>
            </a>
        </li>
    </ul>

{% else %}
    <p><a href="/accounts/login/"><h1>ログイン画面へ</h1></a></p>
{% endif %}
</section>

</body>
  
</html>