{% extends 'bankaccount/base.html' %}
{% load humanize %}

{% block header %}

  <li><a href="">口座情報</a></li>
  <li><a href="">仕訳区分</a></li>

{% endblock%}


{% block content %}
<form id="form_list_all" method="post">{% csrf_token %}

  
<div class="menu_wrapper">

    
    <div class="menu_wrapper_inner">
      <ul class="">
        <li><button class="menu_bt" type="button" onclick="location.href='/bankaccount/correspondence_amount'">自動突合</button></li>
        
        <li>
          <select id="" name="" class="list_filter_select_s" type="number">
            <option value=0>-</option>
            {% for staffdb in staffdb_list %}
              <option value="{{ staffdb.id }}">{{ staffdb.fullName }}</option>
            {% endfor %}
          </select>
        </li>
      
      </ul>
    </div>


  <ul class="page_nav">
    <li>
      {% if page_obj.has_previous %}
        <a class="menu_bt next_bt" href="?{{ query_string }}&page={{ page_obj.previous_page_number }}" onclick="set_search_key()">
          ＜
        </a>
      {% else %}
      {% endif %}
    </li>
  
    <li>
      {% if page_obj.has_next %}
        <a class="menu_bt menu_bt_mg_left next_bt" href="?{{ query_string }}&page={{ page_obj.next_page_number }}" onclick="set_search_key()">
          ＞
        </a>
      {% else %}
      {% endif %}
    </li>
  </ul>

</div>



<table class="item-table">

	<tr>
		<th class="sticky_col_th first_col">選択</th>
		<th class="sticky_col_th second_col">No.</th>
    <th>日付</th>
    <th>口座区分</th>
    <th>記載1</th>
    <th>記載2</th>
    <th>支払額</th>
    <th>受取額</th>
    <th>残高</th>
    <th>仕訳区分</th>
		<th>進捗</th>
    <th>メモ</th>

  </tr>
  
  {% for item in object_list %}

  <!-- 進捗状況に応じた色の設定 -->
    {% if item.adminCheck.no == 1 %}
    <tr class="row-yellow">
    {%  elif item.adminCheck.no == 2 %}
      <tr class="row-white">
    {%  elif item.adminCheck.no == 0 %}
      <tr class="row-red">
    {%  elif item.adminCheck.no == 4 %}
      <tr class="row-blue">
    {%  elif item.adminCheck.no == 5 %}
      <tr class="row-green">
    {%  elif item.adminCheck.no == 6 %}
      <tr class="row-gray">
    {% endif %}

      <td class="sticky_col_td first_col">
        <input onclick="clickRequest()" type="checkbox" name="selected_request" value="{{ item.pk }}">
      </td>

      <td class="sticky_col_td second_col"><a href="">{{ item.no }}</a></td>
      <td class="date_col">{{ item.transactionDate | date:"Y-m-j"}}</td>
      <td>{{ item.bankAccount }}</td>
      <td>{{ item.description1 }}</td>
      <td>{{ item.description2 }}</td>
      <td>{{ item.paymentAmount|intcomma}}</td>
      <td>{{ item.deopsitAmount|intcomma}}</td>
      <td>{{ item.accountBalance|intcomma}}</td>

      <td>
        {% if item.journalCategory %}
          {{ item.journalCategory }}
        {% else %}
        {% endif %}
      </td>
      <td>
        {% if item.progress %}
          {{ item.progress }}
        {% else %}
        {% endif %}
      </td>
      <td>
        {% if item.adminMemo %}
          {{ item.adminMemo }}
        {% else %}
        {% endif %}
      </td>
          
  </tr>

  {% endfor %}
  
</table>




{% endblock content%}


