html{
    /* 1rem = 100pxと定義 */
    font-size: 10px;
    font-family:'Meiryo', sans-serif;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px; 
}


@media screen and (min-width: 0px) and (max-width: 400px){
    html {
        font-size: 42%; /*スマホサイズ*/
    }
}


@media screen and (min-width: 400px) and (max-width: 800px) {
    html {
        font-size: 47%; /*スマホサイズ*/
    }
}


@media screen and (min-width: 800px) and (max-width: 1800px) {
    html {
        font-size: 52%; /*PCサイズ*/
    }
}

body{
    width:100%;
    margin: 0;
}

input, textarea, select{
    font-family:'Meiryo', sans-serif;
}


.hidden_s_screen{
    display: none;
}
@media screen and (min-width: 600px) {
    .hidden_s_screen{
        display: block;
    }
}

/* header */

header{
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 1.5rem 1rem 1.5rem;
}


.apptitle_wrapper{
    display:flex;
    align-items: center;
    align-content: center;
}

.icon-s{
    width:2.5rem;
    height:2.5rem;
    margin-right: 1rem;
}

.sub_title{
    margin-top: 1rem;
}


h1{
    color: rgb(0,51,141);
    font-size: 2rem;
    font-weight: bold;
}

h2{
    color: black;
    font-size: 2rem;

}
.app_title{
    color: rgb(0,51,141);
    line-height: 3rem;
}

h3{
    color: rgb(0, 51, 141);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
}

h4{
    color: rgb(0, 51, 141);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2rem;
}


p{
    font-size: 1.4rem;
}

.alert{
    color: rgb(158,48,57);
}

header ul{
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



header a{
    text-decoration: none;
    color: #222222;
    font-size: 1.8rem;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    border: none;
    background-color: #fff;
}

.margin_left{
    margin-left: 1rem;
}

.margin_left_s{
    margin-left: 0.3rem;
}

.margin_left_l{
    margin-left: 1.5rem;
}

.margin_left_ll{
    margin-left: 3rem;
}

.margin_right{
    margin-right: 2rem;
}

.margin_right_s{
    margin-right: 1.2rem;
}

.margin_top{
    margin-top: 1rem;
}

.margin_top_l{
    margin-top: 1.5rem;
}
.margin_top_ll{
    margin-top: 2rem;
}

.margin_bottom_l{
    margin-bottom: 1.5rem;
}

.margin_left_right{
    margin-right:1.5rem;
    margin-left:1.5rem;
}

.width_m{
    width:10rem;
}

.text_align_center{
    text-align:center;
}

/* 編集無効 クリック不可 */
.no_click{
    pointer-events: none;
}

/* ポインター 指 */
.yubi {
    cursor : pointer;
}

input[type="date"],input[type="text"],input[type="number"]{
    
    display: block;
    width: 22rem;
    height: 3.2rem;
    border: solid 0.1rem #bfbfbf;
    padding: 0rem 0.5rem;
    font-size: 1.4rem;
    margin-right: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
     margin: 0;
}
input[type="number"]{
    text-align: right;
}


select{
    display: block;
    width: 17rem;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0rem;
    border: solid 0.1rem  #bfbfbf;
}



.menu_wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu_wrapper_inner{
    display: flex;
    align-items: center;
    margin: 0rem;
}

.submit_btn_wrapper{
    display:flex;
    align-items: center;
    align-content: center;
}


.menu_bt{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: solid 0.2rem  #bfbfbf;
    border-radius: 0.5rem;
    outline: none;
    background: transparent;
    text-decoration: none;
    display: block;

    color: #222222;
    margin-bottom: 0.8rem;
    margin: 0;
 
    line-height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(0, 51, 141);
}


/* ページ移動ボタン */

.page_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next_bt{
    width: 3rem;
}

/* 進捗に基づく色区分 */

.row-white{
    background-color: #fff;
}

.row-red{
    background-color: rgb(233, 202, 213)
}

.row-gray{
    background-color: rgb(216, 214, 214);
}

.row-yellow{
    background-color: rgb(248, 248, 6);
}

.row-orange{
    background-color: rgb(248, 220, 158);
}

.row-blue1{
    background-color: rgb(212, 240, 252);
}

.row-blue2{
    background-color: rgb(158, 187, 201);
}

.row-blue3{
    background-color: rgb(109, 168, 196);
}

.row-green{
    background-color: rgb(177, 212, 177);
}




/* list */

.item-table{
    display: block;
    max-height: 100rem;
    margin: 0 1.5rem;
    border-width: 0;
    padding: 0;
    overflow: scroll;
}

.item-table::-webkit-scrollbar {
    width: 1.5rem;
    height: 1.5rem;
    background:#eee;
    overflow:hidden;
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}
.item-table::-webkit-scrollbar-track{
    box-shadow: 0 0 0.2rem rgb(202, 201, 201) inset;
}
.item-table::-webkit-scrollbar-thumb {
    overflow:hidden;
    background:rgb(185, 187, 187);
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}

/* 見出し行の書式 */
.item-table th{
    border-style: solid;
    border-color:#bfbfbf;;
    border-width: 0.1rem;
    padding: 0.8rem;
    font-size: 1.4rem; 
    white-space: nowrap;
    text-align: center;
    color: #ffff;
    background-color: rgb(0, 51, 141);

    /* 縦スクロール時に固定 */
    position: sticky;
    top: 0;
}

.sticky_col_th {
    /* 横スクロール時に固定 */
    position: -webkit-sticky;
    position: sticky;
    /* ヘッダー行内の他のセルより手前に表示 */
    z-index: 2;
}


.item-table td{
    border-style: solid;
    border-color:#bfbfbf;
    border-width: 0.1rem;
    align-content: center;
    text-align: left;
    padding: 0.8rem;

    max-width: 20rem; /* 列の幅の最大値 */
    white-space: nowrap;
    font-size: 1.4rem
}
.sticky_col_td {
    /* 横スクロール時に固定 */
    position: -webkit-sticky;
    position: sticky;
    /* ヘッダー行内の他のセルより手前に表示 */
    background-color: #fff;
    border-color:#bfbfbf;
}


.first_col{
    left: -0.1rem;
}
.second_col {
    left: 4.3rem;
}


.sticky_col_td a{
    text-decoration: none;
    color:rgb(0, 51, 141);
    font-weight: bold;
}


.longText{
    max-height: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-table .src_col{
    max-width: 5rem; /* 列の幅の最大値 */
}

.item-table .src_col a{
    text-decoration: none;
}

.item-table .date_col{
    text-align: center;
}

.item-table .number_col{
    text-align: right;
}



/* list filter  */


/* list filter 検索条件*/

.list_filter{
    margin: 1rem 0 2rem 0;
}

.filter_bt_wrapper{
    display: flex;

}

.list_filter_items{
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    margin: 0 1.5rem 1rem 1.5rem;
}

.list_filter_items dl{
    margin-top: 1rem;
    margin-right: 2rem;
    width: 22rem;
    height: 6.5rem;
}

.list_filter_items .payment_filter{
    width: 18rem;
    margin-right: 0;
}

input[type="radio"]{
    margin: 0.4rem 0.1rem 0 0;
}

.list_filter_items .progress_filter{
    width: 6rem;
    margin-right: 0;
}

.list_filter_items .list_filter_date{
    width: 46rem;
}

.list_filter_date p{
    margin: 0 auto;
}

.list_filter_items dt{
    justify-content: space-between;
    font-size: 1.4rem;
    margin: 0.6rem 0;
}

.list_filter_items dd{
    font-size: 1.4rem;
    margin: 0.6rem 0;
    display: flex;
    line-height: 3rem;
}
