html{
    /* 1rem = 100pxと定義 */
    font-size: 10px;
    font-family:'Meiryo', sans-serif;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px; 
}


@media screen and (min-width: 0px) and (max-width: 400px){
    html {
        font-size: 42%; /*スマホサイズ*/
    }
}


@media screen and (min-width: 400px) and (max-width: 800px) {
    html {
        font-size: 47%; /*スマホサイズ*/
    }
}


@media screen and (min-width: 800px) and (max-width: 1800px) {
    html {
        font-size: 52%; /*PCサイズ*/
    }
}

body{
    width:100%;
    margin: 0;
}

input, textarea, select{
    font-family:'Meiryo', sans-serif;
}

/* 必須入力の色設定 */
input:required,
select:required,
textarea:required{
  background: rgb(255, 255, 227);
}

.must_color input,
.must_color select{
    background: rgb(255, 255, 227);
}
.alternative_color input,
.alternative_color textarea,
.alternative_color select{
    background: rgb(192, 222, 236);
}
.free_color input{
    background-color: #fff;
}

.csv_import{
    display: none;
}
@media screen and (min-width: 600px) {
    .csv_import{
        display: block;
    }
}

/* header */

header{
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 1.5rem 1rem 1.5rem;
}

header nav li{
    padding-left: 2rem;  
}


h1{
    color: black;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h2{
    color: black;
    font-size: 2rem;

}
.app_title{
    color: rgb(0,51,141);
    line-height: 3rem;
}

h3{
    color: rgb(0, 51, 141);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
}

p{
    font-size: 1.4rem;
}

.alert{
    color: rgb(158,48,57);
}

header ul{
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



header a{
    text-decoration: none;
    color: #222222;
    font-size: 1.8rem;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    border: none;
    background-color: #fff;
}

.margin_left{
    margin-left: 1rem;
}

.margin_right{
    margin-right: 2rem;
}


.margin_top{
    margin-top: 0.5rem;
}


/* 編集無効 クリック不可 */
.no_click{
    pointer-events: none;
}

/* ポインター 指 */
.yubi {
    cursor : pointer;
}



.menu_wrapper{
    display: flex;
    align-items: center;
    margin: 1rem 1.5rem 1rem 1.5rem;
}
.menu_wrapper_inner{
    display: flex;
    align-items: center;
    margin: 0rem;
}

.submit_btn_wrapper{
    display:flex;
    align-items: center;
    align-content: center;
}


.menu_bt{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: solid 0.2rem  #bfbfbf;
    border-radius: 0.5rem;
    outline: none;
    background: transparent;
    text-decoration: none;
    display: block;

    color: #222222;
    margin-bottom: 0.8rem;
    margin: 0;
    width:10rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(0, 51, 141);
}


/* ページ移動ボタン */

.page_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next_bt{
    width: 4rem;
}

/* 進捗に基づく色区分 */

.row-white{
    background-color: #fff;
}

.row-red{
    background-color: rgb(233, 202, 213)
}

.row-gray{
    background-color: rgb(216, 214, 214);
}

.row-yellow{
    background-color: rgb(255, 255, 227);
}

.row-blue{
    background-color: rgb(192, 222, 236);
}

.row-green{
    background-color: rgb(177, 219, 177);
}




/* list */

.menu_wrapper_list{
    margin: 1rem;
}

.item-table{
    display: block;
    max-height: 100rem;
    margin: 0 1.5rem;
    border-width: 0;
    padding: 0;
    overflow: scroll;
}

.item-table::-webkit-scrollbar {
    width: 1.5rem;
    height: 1.5rem;
    background:#eee;
    overflow:hidden;
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}
.item-table::-webkit-scrollbar-track{
    box-shadow: 0 0 0.2rem rgb(202, 201, 201) inset;
}
.item-table::-webkit-scrollbar-thumb {
    overflow:hidden;
    background:rgb(185, 187, 187);
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}

/* 見出し行の書式 */
.item-table th{
    border-style: solid;
    border-color:#bfbfbf;;
    border-width: 0.1rem;
    padding: 0.8rem;
    font-size: 1.4rem; 
    white-space: nowrap;
    text-align: center;
    color: #ffff;
    background-color: rgb(0, 51, 141);

    /* 縦スクロール時に固定 */
    position: sticky;
    top: 0;
}

.sticky_col_th {
    /* 横スクロール時に固定 */
    position: -webkit-sticky;
    position: sticky;
    /* ヘッダー行内の他のセルより手前に表示 */
    z-index: 2;
}


.item-table td{
    border-style: solid;
    border-color:#bfbfbf;
    border-width: 0.1rem;
    align-content: center;
    text-align: left;
    padding: 0.8rem;

    max-width: 20rem; /* 列の幅の最大値 */
    white-space: nowrap;
    font-size: 1.4rem
}
.sticky_col_td {
    /* 横スクロール時に固定 */
    position: -webkit-sticky;
    position: sticky;
    /* ヘッダー行内の他のセルより手前に表示 */
    background-color: #fff;
    border-color:#bfbfbf;
}


.first_col{
    left: -0.1rem;
}
.second_col {
    left: 4.3rem;
}


.sticky_col_td a{
    text-decoration: none;
    color:rgb(0, 51, 141);
    font-weight: bold;
}


.longText{
    max-height: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-table .src_col{
    max-width: 5rem; /* 列の幅の最大値 */
}

.item-table .src_col a{
    text-decoration: none;
}

.item-table .date_col{
    text-align: center;
}

.item-table .number_col{
    text-align: right;
}



/* list filter  */


/* list filter 検索条件*/

.list_filter{
    margin: 1rem 0 2rem 0;
}

.filter_bt_wrapper{
    display: flex;

}

.list_filter_items{
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    margin: 0 1.5rem;
}

.list_filter_items dl{
    margin-top: 1rem;
    margin-right: 2rem;
    width: 22rem;
}


.payment_radio dd input{
    margin-left: 2rem;
}
.payment_radio dd .radio_left_end{
    margin-left: 0rem;
}

.list_filter_items .list_filter_date{
    width: 46rem;
}

.list_filter_date p{
    margin: 0 auto;
}

.list_filter_items dt{
    justify-content: space-between;
    font-size: 1.4rem;
    margin: 0.6rem 0;
}

.list_filter_items dd{
    font-size: 1.4rem;
    margin: 0.6rem 0;
    display: flex;
    line-height: 3rem;
}


.list_filter_items input[type="text"]{
    display: block;
    width: 22rem;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0rem 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    margin-right: 0;
}

/* 社員番号入力用 */
.list_filter_items input[type="number"]{
    display: block;
    width: 7.5rem;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0rem 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    margin-right: 0.5rem;
}

.list_filter_items input[type="number"]::-webkit-outer-spin-button, 
.list_filter_items input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 


/* 社員リスト */

.list_filter_select{
    display: block;
    width: 22rem;
    height: 3.2rem;
    font-size: 22rem;
    padding: 0rem;
    border: solid 0.1rem  #bfbfbf;
}


.list_filter_select_s{
    width: 14rem;
}

.list_filter_select_l{
    width: 22rem;
}


.list_filter_items input[type="date"] {
    display: block;
    width: 22rem;
    height: 3.2rem;
    border: solid 0.1rem #bfbfbf;
    padding: 0rem 0.5rem;
    font-size: 1.4rem;
    margin-right: 0;
}






/* 共通 create update detail */


.item_dl{
    justify-content: center;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item_dl .height_l{
    height: 15rem;
}
.item_dl .height_m{
    height: 10rem;
}

.item_dl_dummy_s,.item_dl_dummy_s2, .item_dl_dummy_l{
    display: none;
}


.item_dl dt{
    box-sizing: border-box;
    border-style: solid;
    border-color: #bfbfbf;

    background-color: rgb(0,51,141);

    display: flex;
    align-items: center;
    justify-items: left;

    padding: 0 0.6rem;
    width: 20%;
    border-top-width: 0.15rem;
    height: 5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color:#fff;
    line-height: 2rem;
}

.item_dl_dummy_s  dt,.item_dl_dummy_l dt,
.item_dl_dummy_s1 dt, .item_dl_dummy_s2 dt{
    background-color: #fff;
}


.item_dl dd{
    box-sizing: border-box;
    border-style: solid;
    border-color: #bfbfbf;

    display: flex;
    align-items: center;

    padding: 0 1rem;
    width: 80%;

    /* 縮小の最小値を設定*/
    min-width: 100px;

    border-top-width: 0.15rem;
    height: 5rem;
    font-size: 1.4rem;
}


.dd_children_flex{
    display: flex;
    justify-content: space-between;
}
.standard_item{
    min-width: 6rem;
    margin-left: 0.5rem;
}


.item_dl .sentence_dd_scroll{
    padding: 0.7rem 1rem 0 1rem;
    word-wrap: pre-wrap;
    word-break: break-all;
    line-height: 1.8rem;
    overflow-y: scroll;
    align-items: flex-start;
}

.sentence_dd_scroll::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    overflow:hidden;
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}
.sentence_dd_scroll::-webkit-scrollbar-track{
    box-shadow: 0 0 0.2rem rgb(212, 212, 212) inset;
}
.sentence_dd_scroll::-webkit-scrollbar-thumb {
    overflow:hidden;
    background:rgb(212, 212, 212);
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}



@media screen and (min-width: 500px) {
    .item_dl .sentence_dt1{
        width: 10%;
    }
    .item_dl .sentence_dd1{
        width : 90%;
    }
}


@media screen and (min-width: 800px) {
    .item_dl .sentence_dt2{
        width: 10%;
    }
    .item_dl .sentence_dd2{
        width : 90%;
    }
}


hr{
    margin:0;
    width:100%;
    border-width: 0.15rem 0 0 0;
    border-style: solid;
    border-color: #bfbfbf;
}





/* request detail のレイアウト */


.container_request{
    display: grid;
    grid-template-rows: repeat(20, auto);
    grid-template-columns: 100%;
    margin: 1rem 1rem 0 1rem;
}

@media screen and (min-width: 500px) {
    .container_request{
        grid-template-rows: repeat(13, auto);
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "area1 area2"
        "area3 area4"
        "area5 area6"
        "area7 area8"
        "area9 area9"
        "area10 area11"
        "area10 area12"
        "area13 area14"
        "area15 area16"
        "area17 area18"
        "area19 area19" 
        "area20 dummy_s"; 
    }
        
    .container_request .item1 {grid-area: area1;}
    .container_request .item2 {grid-area: area2;}
    .container_request .item3 {grid-area: area3;}
    .container_request .item4 {grid-area: area4;}
    .container_request .item5 {grid-area: area5;}
    .container_request .item6 {grid-area: area6;}
    .container_request .item7 {grid-area: area7;}
    .container_request .item8 {grid-area: area8;}
    .container_request .item9 {grid-area: area9;}
    .container_request .item10 {grid-area: area10;}
    .container_request .item11 {grid-area: area11;}
    .container_request .item12 {grid-area: area12;}
    .container_request .item13 {grid-area: area13;}
    .container_request .item14 {grid-area: area14;}
    .container_request .item15 {grid-area: area15;}
    .container_request .item16 {grid-area: area16;}
    .container_request .item17 {grid-area: area17;}
    .container_request .item18 {grid-area: area18;}
    .container_request .item19 {grid-area: area19;}
    .container_request .item20 {grid-area: area20;}

    .container_request .item_dl_dummy_s{
        grid-area: dummy_s;
         display: flex;
    }
}


@media screen and (min-width: 800px) {
    .container_request{
        grid-template-rows: repeat(9, auto);
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-areas:
        "area1 area2 area3"
        "area4 area5 area6"
        "area7 area9 area9"
        "area8 area9 area9"
        "area11 area10 area13"
        "area12 area10 area14"
        "area15 area16 area17"
        "area15 area16 area18"
        "area19 area19 area20"
        "area19 area19 dummy_s";
    }
}


/* request create, updateのレイアウト */

.container_request_edit{
    display: grid;
    grid-template-rows: repeat(20, auto);
    grid-template-columns: 100%;
    margin: 0 1rem;
}
.container_request_edit .item_dl_dummy_s{
    display: none;
}

@media screen and (min-width: 500px) {
    .container_request_edit{
        display: grid;
        grid-template-rows: repeat(12, auto);
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "area0 area0"
        "area1 area2"
        "area3 area4"
        "area5 area6"
        "area7 area8"
        "area9 area10"
        "area11 area12"
        "area13 area14"
        "area15 area16"
        "area19 area17"
        "area19 area18"
        "area19 area20";
    }

    .container_request_edit .item0 {grid-area: area0;}
    .container_request_edit .item1 {grid-area: area1;}
    .container_request_edit .item2 {grid-area: area2;}
    .container_request_edit .item3 {grid-area: area3;}
    .container_request_edit .item4 {grid-area: area4;}
    .container_request_edit .item5 {grid-area: area5;}
    .container_request_edit .item6 {grid-area: area6;}
    .container_request_edit .item7 {grid-area: area7;}
    .container_request_edit .item8 {grid-area: area8;}
    .container_request_edit .item9 {grid-area: area9;}
    .container_request_edit .item10 {grid-area: area10;}
    .container_request_edit .item11 {grid-area: area11;}
    .container_request_edit .item12 {grid-area: area12;}
    .container_request_edit .item13 {grid-area: area13;}
    .container_request_edit .item14 {grid-area: area14;}
    .container_request_edit .item15 {grid-area: area15;}
    .container_request_edit .item16 {grid-area: area16;}
    .container_request_edit .item17 {grid-area: area17;}
    .container_request_edit .item18 {grid-area: area18;}
    .container_request_edit .item19 {grid-area: area19;}
    .container_request_edit .item20 {grid-area: area20;}
}

@media screen and (min-width: 800px) {
    .container_request_edit{
        grid-template-rows: repeat(11, auto);
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-areas:
        "area0 area0 area0"
        "area1 area2 area3"
        "area4 area5 area6"
        "area7  area9 area9"
        "area8 area9 area9"
        "area11 area9 area9"
        "area12 area10 area15"
        "area13 area10 area15"
        "area14 area10 area15"
        "area16 area17 area19"
        "area16 area18 area19"
        "area16 area20 area19"; 
    }
}


/* detail_orderのレイアウト */

.container_detail_order{
    display: grid;
    grid-template-rows: repeat(15, auto);
    grid-template-columns: 100%;
    margin: 1rem 1rem 0 1rem;
}
.container_detail_order .item_dl_dummy_s,
.container_detail_order .item_dl_dummy_l{
    display: none;
}

@media screen and (min-width: 500px) {
    .container_detail_order{
        display: grid;
        grid-template-rows: repeat(10, auto);
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "area0 area0"
        "area1 area2"
        "area3 area4"
        "area5 area6"
        "area8 area9"
        "area10 area11"
        "area7 area12"
        "area13 area12"
        "area14 area12"
        "area15 dummy_s";
    }

    .container_detail_order .item0 {grid-area: area0;}
    .container_detail_order .item1 {grid-area: area1;}
    .container_detail_order .item2 {grid-area: area2;}
    .container_detail_order .item3 {grid-area: area3;}
    .container_detail_order .item4 {grid-area: area4;}
    .container_detail_order .item5 {grid-area: area5;}
    .container_detail_order .item6 {grid-area: area6;}
    .container_detail_order .item7 {grid-area: area7;}
    .container_detail_order .item8 {grid-area: area8;}
    .container_detail_order .item9 {grid-area: area9;}
    .container_detail_order .item10 {grid-area: area10;}
    .container_detail_order .item11 {grid-area: area11;}
    .container_detail_order .item12 {grid-area: area12;}
    .container_detail_order .item13 {grid-area: area13;}
    .container_detail_order .item14 {grid-area: area14;}
    .container_detail_order .item15 {grid-area: area15;}

    .container_detail_order .item_dl_dummy_s{
        display: flex;
        grid-area: dummy_s;
    }
}


@media screen and (min-width: 800px) {
    .container_detail_order{
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-areas:
        "area0 area0 area0"
        "area1 area2 area3"
        "area4 area5 area6"
        "area8 area9 area9"
        "area10 area12 area12"
        "area11 area12 area12"
        "area7 area12 area12"
        "area13 area14 area15"; 
    }
    .container_detail_order .item_dl_dummy_s{
        display: none;
    }
}



/* create_orderのレイアウト */

.container_create_order{
    display: grid;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: 100%;
    margin: 0 1rem;
}
.container_create_order .item_dl_dummy_s,
.container_create_order .item_dl_dummy_l{
    display: none;
}

@media screen and (min-width: 500px) {
    .container_create_order{
        display: grid;
        grid-template-rows: repeat(11, auto);
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "area0 area0"
        "area1 area2"
        "area3 area4"
        "area5 area6"
        "area8 area7"
        "area9 area10"
        "area11 area12"
        "area13 area13"
        "area13 area13"
        "area13 area13"
        "area14 area15"
        "area16 dummy_s";
    }

    .container_create_order .item0 {grid-area: area0;}
    .container_create_order .item1 {grid-area: area1;}
    .container_create_order .item2 {grid-area: area2;}
    .container_create_order .item3 {grid-area: area3;}
    .container_create_order .item4 {grid-area: area4;}
    .container_create_order .item5 {grid-area: area5;}
    .container_create_order .item6 {grid-area: area6;}
    .container_create_order .item7 {grid-area: area7;}
    .container_create_order .item8 {grid-area: area8;}
    .container_create_order .item9 {grid-area: area9;}
    .container_create_order .item10 {grid-area: area10;}
    .container_create_order .item11 {grid-area: area11;}
    .container_create_order .item12 {grid-area: area12;}
    .container_create_order .item13 {grid-area: area13;}
    .container_create_order .item14 {grid-area: area14;}
    .container_create_order .item15 {grid-area: area15;}
    .container_create_order .item16 {grid-area: area16;}

    .container_create_order .item_dl_dummy_s{
        display: flex;
        grid-area: dummy_s;
    }
}


@media screen and (min-width: 800px) {
    .container_create_order{
        grid-template-rows: repeat(9, auto);
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-areas:
        "area0 area0 area0"
        "area1 area2 area3"
        "area4 area5 dummy_s"
        "area8 area6 area7"
        "area9 area10 area10"
        "area9 area10 area10"
        "area9 area10 area10"
        "area11 area13 area13"
        "area12 area13 area13"
        "area14 area16 dummy_l" 
        "area15 area16 dummy_l"; 
    }
    .container_create_order .item_dl_dummy_l{
        display: flex;
        grid-area: dummy_l;
    }
}



/* detail */

.detail_nav{
    display: flex;
    align-items: center;
}

.detail_deletedItem{
    margin-left: 3rem;
    font-weight: bold;
}


/* create・updateのdl内 */

/* input型 */
.item_dl input[type="date"],
.item_dl input[type="url"],
.item_dl input[type="text"],
.item_dl input[type="number"]{

    -webkit-appearance: none;
    -moz-appearance: none;
    
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 100%;
}
.item_dl input[type="number"]{
    text-align: right;
}
.item_dl input[type="number"]::-webkit-outer-spin-button,
.item_dl input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
     margin: 0;
}
.item_dl .orderNum input[type="number"]{
    text-align: left;
}

/* 社員番号入力用 */
.staffNumber input[type="number"]{
    width: 7.5rem;
    text-align: left;
}

.staffNumber input[type="number"]::-webkit-outer-spin-button, 
.staffNumber input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 


/* select型 */
.item_dl select{
    box-sizing: border-box;
    height: 3.2rem;
    border: solid 0.1rem #bfbfbf;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
}

/* 番号の入力なし */
.item_dl .itemNum{
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.item_dl .itemNum input{
    border:0rem;
    padding: 0rem;
    margin: 0;
    font-size: 1.4rem;
    width: 8rem;
    text-align: left;
}


/* textarea型 */
.item_dl textarea{
    display: block;
    resize: none;
    width: 100%;
    border:solid 0.1rem #bfbfbf;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.item_dl .height_l textarea{
    height: 13rem;
}
.item_dl .height_m textarea{
    height: 8rem;
}


/* 複数アイテムdd */

.multiple_items dd{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}


/* ファイル添付 */

.multiple_items_update{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap:nowrap;
}
.multiple_items_update::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    overflow:hidden;
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}
.mmultiple_items_update::-webkit-scrollbar-track{
    box-shadow: 0 0 0.2rem rgb(212, 212, 212) inset;
}
.multiple_items_update::-webkit-scrollbar-thumb {
    overflow:hidden;
    background:rgb(212, 212, 212);
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}

.attachment_update p
{
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.attachment_update div{
    flex-wrap: wrap;
}
.attachment_update div a{
    display: block;
    width: 38rem;
}


/* 複数アイテムdd URL */

.multiple_items_URL dd{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    align-content: center;
}

.multiple_items_URL dd input[type="url"]{
    width: 72rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.multiple_items_URL dd a{
    width: 72rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.multiple_items_URL dd::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    overflow:hidden;
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}

.multiple_items_child{
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 2.4rem;
    width: 100%;
}
.multiple_items_child p{
    padding-right: 0.5rem;
}

/* 単一URL */
.mono_URL{
    display: flex;
    flex-wrap:wrap;
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    align-content:top ;
}
.mono_URL input[type="url"]{
    width: 80%;
    height:50rem;
    margin: 1rem;
}



/* 複数アイテムdd select*/
.multiple_items_select dd{
    display: block;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 1.2rem;
}
.multiple_items_select dd select{
    margin-bottom: 1.2rem;
}

/* 複数アイテム dd number 金額 */

.multiple_items_amount dd{
    padding: 0.2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}

.multiple_items_amount dd div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
}



.multiple_items_amount dd div input[type="tel"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    
    display: block;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;

    width: 18rem;
    height: 2.6rem;
    text-align: right;
}

.multiple_items_amount dd div input[type="number"]{
    display: none;
}

/* create_request amount */
.request_amount input[type="tel"]{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 100%;
    
    text-align: right;
}

.request_amount input[type="number"]{
    display: none;
}

/* delete チェックボックス */

.delete_bt{
    display: flex;
    align-content: center;
    align-items: center;
}

.delete_bt div{
    font-size: 1.4rem;
}

.delete_bt input[type="checkbox"]{
    display: block;
    margin: auto 2rem;
    height: 2rem;
    width: 2rem;
}

.item_dl .due_complete_select{
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    border:none;
    padding:0;
    margin: 0;
    color:#fff;
    background-color: rgb(0,51,141);

    background-image: url(./img/pulldown_img.png);
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	background-position: right 0 center;

    font-weight: bold;
}

.item_dl .due_complete_select option{
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    padding:0;
    margin: 0;
}


/* 金額突合  */

.amount_check{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;
    margin: 3rem 1rem 2rem 1rem;
    display: flex;
}

.amount_check dt{
    margin-right: 1rem;
    font-size: 1.4rem;
}

.amount_check dd{
    margin-right: 2rem;
}

.amount_check dd input{
    font-size: 1.4rem;
    width: 10rem;
    text-align: right;
}




/* 検収画面 */
.acceptance_title{
    margin: 1rem;
    padding: 1rem;
    background-color:rgb(177, 219, 177);
    color:  rgb(0, 51, 141);
}

.acceptance_wrapper{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    margin: 0.5rem 2rem 0 2rem;
    max-width: 130rem;
}

.acceptance_wrapper dl{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:left;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(0, 51, 141);
}


.acceptance_wrapper dl dt{
    width: 10%;
    margin-right: 0.5rem;
    margin-right: 0.5rem;
}

.acceptance_wrapper dl dd{
    width: 90%;
    display:flex; 
    align-items: center;
    align-content: center;
    margin-right: 1rem;
}

@media screen and (min-width: 900px) {
    .acceptance_wrapper{
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 32% 25% 43%;
        grid-template-areas:
        "area1 area2 area3"; 
    }
    .acceptance_item1 {grid-area: area1;}
    .acceptance_item2 {grid-area: area2;}
    .acceptance_item3 {grid-area: area3;}

    .acceptance_wrapper dl dt{
        width: 20%;
    }
    .acceptance_wrapper dl dd{
        width: 80%;
    }
    
    .acceptance_wrapper dl .acceptance_dt_long{
        width: 12%;
    }
    .acceptance_wrapper dl .acceptance_dd_long{
        width : 88%;
    }
}

.acceptance_wrapper dl dd input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 20rem;
    margin-right: 1rem;
}
.acceptance_wrapper dl dd select{
    box-sizing: border-box;
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 20rem;
    margin-right: 2rem;
}

.acceptance_wrapper dl dd p{
    margin-right: 1rem;
}

.acceptance_wrapper dd textarea{
    display: block;
    resize: none;
    width: 40rem;
    border:solid 0.1rem #bfbfbf;
    font-size: 1.4rem;
    padding: 0.5rem;
}


/* 発注準備 */
.selectSupplier_title{
    margin: 1rem;
    padding: 1rem;
    background-color:rgb(255, 255, 227);
    color:  rgb(0, 51, 141);
}

.selectSupplier_wrapper{
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: 100%;
    margin: 0.5rem 2rem 0 2rem;
    max-width: 90rem;
}

.selectSupplier_wrapper dl{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:left;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(0, 51, 141);
}


.selectSupplier_wrapper dl dt{
    width: 10%;
    margin-right: 0.5rem;
    margin-right: 0.5rem;
}

.selectSupplier_wrapper dl dd{
    width: 90%;
    display:flex; 
    align-items: center;
    align-content: center;
    margin-right: 1rem;
}

.selectSupplier_wrapper dl dd p{
    margin-right: 1rem;
}


.selectSupplier_wrapper dl dd input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 20rem;
    margin-right: 2rem;
}

.selectSupplier_wrapper dl dd select{
    box-sizing: border-box;
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 20rem;
    margin-right: 2rem;
}


/* 発注完了報告 */
.reportOrder_title{
    margin: 3rem 1rem 0 1rem;
    padding: 1rem;
    background-color:rgb(192, 222, 236);
    color:  rgb(0, 51, 141);
}
