


/* 共通 create update detail */


.item_dl{
    justify-content: center;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item_dl .height_ll{
    height: 20rem;
}

.item_dl .height_l{
    height: 15rem;
}
.item_dl .height_m{
    height: 10rem;
}

.item_dl_dummy_s,.item_dl_dummy_s2, .item_dl_dummy_l{
    display: none;
}


.item_dl dt{
    box-sizing: border-box;
    border-style: solid;
    border-color: #bfbfbf;

    background-color: rgb(0,51,141);

    display: flex;
    align-items: center;
    justify-items: left;

    padding: 0 0.6rem;
    width: 20%;
    border-top-width: 0.15rem;
    height: 5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color:#fff;
    line-height: 2rem;
}

.item_dl_dummy_s  dt,.item_dl_dummy_l dt,
.item_dl_dummy_s1 dt, .item_dl_dummy_s2 dt{
    background-color: #fff;
}


.item_dl dd{
    box-sizing: border-box;
    border-style: solid;
    border-color: #bfbfbf;

    display: flex;
    align-items: center;

    padding: 0 1rem;
    width: 80%;

    /* 縮小の最小値を設定*/
    min-width: 100px;

    border-top-width: 0.15rem;
    height: 5rem;
    font-size: 1.4rem;
}


.dd_children_flex{
    display: flex;
    justify-content: space-between;
}
.standard_item{
    min-width: 6rem;
    margin-left: 0.5rem;
}


.item_dl .sentence_dd_scroll{
    padding: 0.7rem 1rem 0 1rem;
    word-wrap: pre-wrap;
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 1.8rem;
    overflow-y: scroll;
    line-height: 2rem;
    align-items: flex-start;
}

.sentence_dd_scroll::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    overflow:hidden;
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}
.sentence_dd_scroll::-webkit-scrollbar-track{
    box-shadow: 0 0 0.2rem rgb(212, 212, 212) inset;
}
.sentence_dd_scroll::-webkit-scrollbar-thumb {
    overflow:hidden;
    background:rgb(212, 212, 212);
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}



@media screen and (min-width: 800px) {
    .item_dl .sentence_dt1{
        width: 10%;
    }
    .item_dl .sentence_dd1{
        width : 90%;
    }
}


@media screen and (min-width: 1500px) {
    .item_dl .sentence_dt2{
        width: 10%;
    }
    .item_dl .sentence_dd2{
        width : 90%;
    }
}


hr{
    margin:0;
    width:100%;
    border-width: 0.15rem 0 0 0;
    border-style: solid;
    border-color: #bfbfbf;
}





/* detail_orderのレイアウト */

.container_detail_order{
    display: grid;
    grid-template-rows: repeat(20, auto);
    grid-template-columns: 100%;
    margin: 1rem 1rem 0 1rem;
}
.container_detail_order .item_dl_dummy_s,
.container_detail_order .item_dl_dummy_l{
    display: none;
}

@media screen and (min-width: 500px) {
    .container_detail_order{
        display: grid;
        grid-template-rows: repeat(10, auto);
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "area0 area0"
        "area1 area2"
        "area3 area4"
        "area5 area6"
        "area8 area9"
        "area10 area11"
        "area7 area12"
        "area13 area12"
        "area14 area12"
        "area15 dummy_s";
    }

    .container_detail_order .item0 {grid-area: area0;}
    .container_detail_order .item1 {grid-area: area1;}
    .container_detail_order .item2 {grid-area: area2;}
    .container_detail_order .item3 {grid-area: area3;}
    .container_detail_order .item4 {grid-area: area4;}
    .container_detail_order .item5 {grid-area: area5;}
    .container_detail_order .item6 {grid-area: area6;}
    .container_detail_order .item7 {grid-area: area7;}
    .container_detail_order .item8 {grid-area: area8;}
    .container_detail_order .item9 {grid-area: area9;}
    .container_detail_order .item10 {grid-area: area10;}
    .container_detail_order .item11 {grid-area: area11;}
    .container_detail_order .item12 {grid-area: area12;}
    .container_detail_order .item13 {grid-area: area13;}
    .container_detail_order .item14 {grid-area: area14;}
    .container_detail_order .item15 {grid-area: area15;}

    .container_detail_order .item_dl_dummy_s{
        display: flex;
        grid-area: dummy_s;
    }
}


@media screen and (min-width: 1500px) {
    .container_detail_order{
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-areas:
        "area0 area0 area0"
        "area1 area2 area3"
        "area4 area5 area6"
        "area8 area9 area9"
        "area10 area12 area12"
        "area11 area12 area12"
        "area7 area12 area12"
        "area13 area14 area15"; 
    }
    .container_detail_order .item_dl_dummy_s{
        display: none;
    }
}



/* create のレイアウト */

.container_create_project{
    display: grid;
    grid-template-rows: repeat(24, auto);
    grid-template-columns: 100%;
    margin: 0 1.5rem;
}
.container_create_project .item_dl_dummy_s,
.container_create_project .item_dl_dummy_l{
    display: none;
}

@media screen and (min-width: 800px) {
    .container_create_project{
        display: grid;
        grid-template-rows: repeat(15, auto);
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "area0 area0"
        "area1 area2"
        "area3 area4"
        "area5 area6"
        "area7 area8"
        "area9 area12"
        "area10 area12"
        "area11 area14"
        "area13 area14"
        "area13 area15"
        "area17 area16"
        "area18 area19"
        "area20 dummy_s";
    }

    .container_create_project .item0 {grid-area: area0;}
    .container_create_project .item1 {grid-area: area1;}
    .container_create_project .item2 {grid-area: area2;}
    .container_create_project .item3 {grid-area: area3;}
    .container_create_project .item4 {grid-area: area4;}
    .container_create_project .item5 {grid-area: area5;}
    .container_create_project .item6 {grid-area: area6;}
    .container_create_project .item7 {grid-area: area7;}
    .container_create_project .item8 {grid-area: area8;}
    .container_create_project .item9 {grid-area: area9;}
    .container_create_project .item10 {grid-area: area10;}
    .container_create_project .item11 {grid-area: area11;}
    .container_create_project .item12 {grid-area: area12;}
    .container_create_project .item13 {grid-area: area13;}
    .container_create_project .item14 {grid-area: area14;}
    .container_create_project .item15 {grid-area: area15;}
    .container_create_project .item16 {grid-area: area16;}
    .container_create_project .item17 {grid-area: area17;}
    .container_create_project .item18 {grid-area: area18;}
    .container_create_project .item19 {grid-area: area19;}
    .container_create_project .item20 {grid-area: area20;}

    .container_create_project .item_dl_dummy_s{
        grid-area: dummy_s;
        display: flex;
    };
}


@media screen and (min-width: 1500px) {
    .container_create_project{
        grid-template-rows: repeat(9, auto);
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-areas:
        "area0 area0 area0"
        "area1 area2 area3"
        "area4 area5 area6"
        "area7 area8 area9"
        "area10 area11 area13"
        "area12 area12 area13"
        "area12 area12 area20"
        "area14 area15 area16"
        "area17 area18 area19";
    }
    .container_create_project .item_dl_dummy_s{
        display: none;
    };
}

/* detail */

.detail_nav{
    display: flex;
    align-items: center;
}

.detail_deletedItem{
    margin-left: 3rem;
    font-weight: bold;
}


/* create・updateのdl内 */

/* input型 */
.item_dl input[type="date"],
.item_dl input[type="url"],
.item_dl input[type="text"],
.item_dl input[type="number"]{

    -webkit-appearance: none;
    -moz-appearance: none;
    
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 100%;
}
.item_dl input[type="number"]{
    text-align: right;
}
.item_dl input[type="number"]::-webkit-outer-spin-button,
.item_dl input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
     margin: 0;
}
.item_dl .orderNum input[type="number"]{
    text-align: left;
}

/* 社員番号入力用 */
.staffNumber input[type="number"]{
    width: 7.5rem;
    text-align: left;
}

.staffNumber input[type="number"]::-webkit-outer-spin-button, 
.staffNumber input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 


/* select型 */
.item_dl select{
    box-sizing: border-box;
    height: 3.2rem;
    border: solid 0.1rem #bfbfbf;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
}

/* 番号の入力なし */
.item_dl .itemNum{
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.item_dl .itemNum input{
    border:0rem;
    padding: 0rem;
    margin: 0;
    font-size: 1.4rem;
    width: 8rem;
    text-align: left;
}


/* textarea型 */
.item_dl textarea{
    display: block;
    resize: none;
    width: 100%;
    border:solid 0.1rem #bfbfbf;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.item_dl .height_l textarea{
    height: 13rem;
}
.item_dl .height_m textarea{
    height: 8rem;
}


/* 複数アイテムdd */

.multiple_items dd{
    padding: 0.5rem 1rem;
    display: flex;
}


/* ファイル添付 */

.multiple_items_update{
    display: flex;
    align-content:space-around;
    overflow-x: scroll;
    overflow-y: hidden;
}
.multiple_items_update::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    overflow:hidden;
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}
.mmultiple_items_update::-webkit-scrollbar-track{
    box-shadow: 0 0 0.2rem rgb(212, 212, 212) inset;
}
.multiple_items_update::-webkit-scrollbar-thumb {
    overflow:hidden;
    background:rgb(212, 212, 212);
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}

.attachment_update p
{
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.attachment_update div{
    flex-wrap: wrap;
}
.attachment_update div a{
    display: block;
    width: 38rem;
}


/* 複数アイテムdd URL */

.multiple_items_URL dd{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    align-content: center;
}

.multiple_items_URL dd input[type="url"]{
    width: 72rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.multiple_items_URL dd a{
    width: 72rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.multiple_items_URL dd::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    overflow:hidden;
    -webkit-border-radius:0.5rem;
    border-radius:0.5rem;
}

.multiple_items_child{
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 2.4rem;
    width: 100%;
}
.multiple_items_child p{
    padding-right: 0.5rem;
}

/* 単一URL */
.mono_URL{
    display: flex;
    flex-wrap:wrap;
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    align-content:top ;
}
.mono_URL input[type="url"]{
    width: 80%;
    height:50rem;
    margin: 1rem;
}



/* 複数アイテムdd select*/
.multiple_items_select dd{
    display: block;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 1.2rem;
}
.multiple_items_select dd select{
    margin-bottom: 1.2rem;
}


/* 複数アイテム dd 社員番号 */

.multiple_items_starff dd{
    padding: 0.2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}

.multiple_items_starff dd div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
}

.multiple_items_starff dd input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    
    display: block;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    height: 2.4rem;
    width: 7.5rem;
    text-align: right;
}

.multiple_items_starff dd select{
    height: 2.4rem;
}



/* 複数アイテム dd number 金額 */

.multiple_items_amount dd{
    padding: 1.2rem;
}

.multiple_items_amount dd p{
    width: 9rem;

}
.multiple_items_amount ul{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    height: 9rem;
}

.multiple_items_amount .space_between{
    align-content: space-between;
}

.multiple_items_amount .flex_end{
    align-content: flex-end;
}

.multiple_items_amount dd input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    
    display: block;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    height: 2.4rem;
    width: 8.5rem;
    text-align: right;
}


/* create_request amount */
.request_amount input[type="tel"]{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 100%;
    
    text-align: right;
}


/* delete チェックボックス */

.delete_bt{
    display: flex;
    align-content: center;
    align-items: center;
}

.delete_bt div{
    font-size: 1.4rem;
}

.delete_bt input[type="checkbox"]{
    display: block;
    margin: auto 2rem;
    height: 2rem;
    width: 2rem;
}

.item_dl .due_complete_select{
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    border:none;
    padding:0;
    margin: 0;
    color:#fff;
    background-color: rgb(0,51,141);

    background-image: url(./img/pulldown_img.png);
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	background-position: right 0 center;

    font-weight: bold;
}

.item_dl .due_complete_select option{
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    padding:0;
    margin: 0;
}


/* 金額突合  */

.amount_check{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;
    margin: 3rem 1rem 2rem 1rem;
    display: flex;
}

.amount_check dt{
    margin-right: 1rem;
    font-size: 1.4rem;
}

.amount_check dd{
    margin-right: 2rem;
}

.amount_check dd input{
    font-size: 1.4rem;
    width: 8rem;
    text-align: right;
}




/* 検収画面 */
.acceptance_title{
    margin: 1rem;
    padding: 1rem;
    background-color:rgb(177, 219, 177);
    color:  rgb(0, 51, 141);
}

.acceptance_wrapper{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    margin: 0.5rem 2rem 0 2rem;
    max-width: 130rem;
}

.acceptance_wrapper dl{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:left;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(0, 51, 141);
}


.acceptance_wrapper dl dt{
    width: 10%;
    margin-right: 0.5rem;
    margin-right: 0.5rem;
}

.acceptance_wrapper dl dd{
    width: 90%;
    display:flex; 
    align-items: center;
    align-content: center;
    margin-right: 1rem;
}

@media screen and (min-width: 1500px) {
    .acceptance_wrapper{
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 42% 22% 36%;
        grid-template-areas:
        "area1 area2 area3"; 
    }
    .acceptance_item1 {grid-area: area1;}
    .acceptance_item2 {grid-area: area2;}
    .acceptance_item3 {grid-area: area3;}

    .acceptance_wrapper dl dt{
        width: 20%;
    }
    .acceptance_wrapper dl dd{
        width: 80%;
    }
    
    .acceptance_wrapper dl .acceptance_dt_long{
        width: 12%;
    }
    .acceptance_wrapper dl .acceptance_dd_long{
        width : 88%;
    }
}

.acceptance_wrapper dl dd input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 20rem;
    margin-right: 1rem;
}
.acceptance_wrapper dl dd select{
    box-sizing: border-box;
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 20rem;
    margin-right: 2rem;
}

.acceptance_wrapper dl dd p{
    margin-right: 1rem;
}

.acceptance_wrapper dd textarea{
    display: block;
    resize: none;
    width: 40rem;
    border:solid 0.1rem #bfbfbf;
    font-size: 1.4rem;
    padding: 0.5rem;
}


/* 発注準備 */
.selectSupplier_title{
    margin: 1rem;
    padding: 1rem;
    background-color:rgb(255, 255, 227);
    color:  rgb(0, 51, 141);
}

.selectSupplier_wrapper{
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: 100%;
    margin: 0.5rem 2rem 0 2rem;
    max-width: 90rem;
}

.selectSupplier_wrapper dl{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:left;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(0, 51, 141);
}


.selectSupplier_wrapper dl dt{
    width: 10%;
    margin-right: 0.5rem;
    margin-right: 0.5rem;
}

.selectSupplier_wrapper dl dd{
    width: 90%;
    display:flex; 
    align-items: center;
    align-content: center;
    margin-right: 1rem;
}

.selectSupplier_wrapper dl dd p{
    margin-right: 1rem;
}


.selectSupplier_wrapper dl dd input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 20rem;
    margin-right: 2rem;
}

.selectSupplier_wrapper dl dd select{
    box-sizing: border-box;
    display: block;
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    border: solid 0.1rem  #bfbfbf;
    width: 20rem;
    margin-right: 2rem;
}


/* 発注完了報告 */
.reportOrder_title{
    margin: 3rem 1rem 0 1rem;
    padding: 1rem;
    background-color:rgb(192, 222, 236);
    color:  rgb(0, 51, 141);
}
