{% extends 'procurement/base.html' %}
{% load humanize %}

{% block header %}
  <li>
    <a href="{% url 'procurement:list_all' %}"><p>一覧へ戻る</p></a>
  </li>
{% endblock header %}



{% block content %}

<div class="menu_wrapper">

  <div class="detail_nav">
    <a class="menu_bt" href="{% url 'procurement:update_request' object.id %}">編集</a>
    {% if object.deletedItem == True %}
      <div><p  class="detail_deletedItem">削除済み</p></div>
    {% endif %}
  </div>

</div>

<div class="container_request">
  <dl class="item_dl item1">
    <dt>依頼番号</dt>
    <dd class="itemNum">
        {{ object.requestNum}}
    </dd>
  </dl>

  <dl class="item_dl item2">
    <dt>依頼日</dt>
    <dd>{{ object.submissionDate| date:"Y/m/d" }}</dd>
  </dl>
    
  <dl class="item_dl ite3">
    <dt>希望納期</dt>
    <dd>{{ object.dueDate| date:"Y/m/d"  }}</dd>
  </dl>

  <dl class="item_dl item4">
    <dt>依頼者</dt>
    <dd>{{ object.requestStaff}}</dd>
  </dl>

  <dl class="item_dl item5">
    <dt>所属</dt>
    <dd>{{ object.requestStaffDivision}}</dd>
  </dl>

  <dl class="item_dl item6">
    <dt>納品先</dt>
    <dd>{{ object.deliveryAddress}}</dd>
  </dl>

  <dl class="item_dl item7">
    <dt>区分</dt>
    <dd>{{ object.purpose}}</dd>
  </dl>

  <dl class="item_dl item8">
    <dt>標準品</dt>
    <dd>
      {% if object.standardItem == True %}
        <p>&check;</p>
      {% else %}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item9">
    <dt class="height_m">仕様</dt>
    <dd class="height_m sentence_dd_scroll">
      {{ object.requestDetail}}
    </dd>
  </dl>

  <dl class="item_dl item10">
    <dt class="height_m">備考</dt>
    <dd class="height_m sentence_dd_scroll">
      {{ object.requestMemo}}
    </dd>
  </dl>

  <dl class="item_dl item11">
    <dt>数量</dt>
    <dd>{{ object.quantity }}</dd>
  </dl>

  <dl class="item_dl item12">
    <dt>税込総額</dt>
    <dd>{{ object.estimatedAmount|intcomma }}円</dd>
  </dl>
  


  <dl class="item_dl item13">
    <dt>稟議番号</dt>
    <dd>
      {% if object.approved %}
        {{ object.approved }}
      {% else %}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item14">
    <dt>プロジェクト</dt>
    <dd>
      {% if object.project %}
        {{ object.project }}
      {% else %}
      {% endif %}
    </dd>
  </dl>


  <dl class="item_dl item15 multiple_items_URL">
    <dt class="height_m">URL</dt>
    <dd class="height_m">

      {% if not object.refURL1 %}
      {% else %}
      <div class="multiple_items_child">
        <p>URL1：</p>
        <a href="{{ object.refURL1 }}">{{ object.refURL1 }}</a>
      </div>
      {% endif %}

      {% if not object.refURL2 %}
      {% else %}
      <div class="multiple_items_child">
        <p>URL2：</p>
        <a href="{{ object.refURL2 }}">{{ object.refURL2 }}</a>
      </div>
      {% endif %}

      {% if not object.refURL3 %}
      {% else %}
      <div class="multiple_items_child">
        <p>URL3：</p>
        <a href="{{ object.refURL3 }}">{{ object.refURL3 }}</a>
      </div>
      {% endif %}

    </dd>
  </dl>

  <dl class="item_dl item16 multiple_items">
    <dt class="height_m">費用負担</dt>
    <dd class="height_m">
      {% if not object.costCenter1 %}
      {% else %}
      <div class="multiple_items_child">
        <p>1：</p>{{ object.costCenter1 }}
      </div>
      {% endif %}

      {% if not object.costCenter2 %}
      {% else %}
      <div class="multiple_items_child">
        <p>2：</p>{{ object.costCenter2 }}
      </div>
      {% endif %}

      {% if not object.costCenter3 %}
      {% else %}
      <div class="multiple_items_child">
        <p>3：</p>{{ object.costCenter3 }}
      </div>
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item17 multiple_items">
    <dt class="height_m">資料（稟議等）</dt>
    <dd class="height_m">
      {% if not object.refFile1 %}
      {% else %}
      <div class="multiple_items_child">
        <p>1：</p>
        <a href="/media/{{ object.refFile1 }}" target="_blank">{{ object.refFile1 }}</a>
      </div>
      {% endif %}
      

      {% if not object.refFile2 %}
      {% else %}
      <div class="multiple_items_child">
        <p>2：</p>
        <a href="/media/{{ object.refFile2 }}" target="_blank">{{ object.refFile2 }}</a>
      </div>
      {% endif %}

      {% if not object.refFile3 %}
      {% else %}
      <div class="multiple_items_child">
        <p>3：</p>
        <a href="/media/{{ object.refFile3 }}" target="_blank">{{ object.refFile3 }}</a>
      </div>
      {% endif %}
    </dd>
  </dl>


  <dl class="item_dl item18">
    <dt>管理者</dt>
    <dd>
      {% if object.adminStaff %}
        {{ object.adminStaff }}
      {% else %}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item19">
    <dt>進捗</dt>
    <dd>{{ object.adminCheck }}</dd>
  </dl>

  <dl class="item_dl item20">
    <dt class="height_m">管理<br>メモ</dt>
    <dd class="height_m sentence_dd_scroll">
      {% if not object.adminDescription %}
      {% else %}
        {{ object.adminDescription }}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item21">
    <dt>発注番号</dt>
    <dd>
      {% if object.orderInfo %}
        {{ object.orderInfo.orderNum }}
      {% else %}
      {% endif %}
    </dd>
  </dl>


  <dl class="item_dl item_dl_dummy_s">
    <dt></dt> <dd></dd>
  </dl>

  <dl class="item_dl item_dl_dummy_l height_l">
    <dt></dt> <dd></dd>
  </dl>

</div>
<hr>
{% endblock content%}

