{% extends 'procurement/base.html' %}
{% load humanize %}
{% block header %}

  <li>
    <a href="{% url 'procurement:list_all' %}"><p>Topへ戻る</p></a>
  </li>
  
{% endblock header %}


{% block content %}

<div class="menu_wrapper">

  <div class="detail_nav">
    <a class="menu_bt" href="{% url 'procurement:update_order' object.id %}">編集</a>
    {% if object.deletedItem == True %}
      <div><p  class="detail_deletedItem">削除済み</p></div>
    {% endif %}
  </div>

</div>

<div class="container_detail_order">

  <dl class="item_dl item1">
    <dt>発注番号</dt>
    <dd class="itemNum">
      {{ object.orderNum}}
    </dd>
  </dl>

  <dl class="item_dl item2">
    <dt>発注日</dt>
    <dd>{{ object.orderDate | date:"Y/m/d" }}</dd>
  </dl>
    
  <dl class="item_dl item3">
    <dt>進捗</dt>
    <dd>{{ object.progress.name}}</dd>
  </dl>

  <dl class="item_dl item4">
    <dt>発注者</dt>
    <dd>{{ object.orderStaffdb.fullName}}</dd>
  </dl>

  <dl class="item_dl item5">
    <dt>所属</dt>
    <dd></dd>
  </dl>

  <dl class="item_dl item6">
    <dt>到着日</dt>
    <dd>{{ object.arrivalDate | date:"Y/m/d"}}</dd>
  </dl>

  <dl class="item_dl item7">
    <dt>登録<br>発注先</dt>
    <dd>{{ object.registeredSupplier.name}}</dd>
  </dl>

  <dl class="item_dl item8">
    <dt>個別<br>発注先</dt>
    <dd>
      {% if object.irregularSupplier %}
        {{ object.irregularSupplier}}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item9 multiple_items_amount">
    <dt class="height_l">金額</dt>
    <dd class="height_l">
      <div><p>税率10%</p>{{ object.amount1|intcomma}}円</div>
      <div><p>税率8%</p>{{ object.amount2|intcomma}}円</div>
      <div><p>非課税</p>{{ object.amount3|intcomma}}円</div>
      <div><p>合計金額</p>{{ object.totalAmount|intcomma}}円</div>
    </dd>
  </dl>

  <dl class="item_dl item10">
    <dt>支払方法</dt>
    <dd>{{ object.paymentMethod.name}}</dd>
  </dl>

  <dl class="item_dl item11">
    <dt class="height_l sentence_dt2">発注者備考</dt>
    <dd class="height_l sentence_dd2">
      {% if object.orderDescription %}
      {{ object.orderDescription}}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item12">
    <dt>検収日</dt>
    <dd>      
      {% if object.acceptanceDate %}
      {{ object.acceptanceDate | date:"Y/m/d" }}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item13">
    <dt>検収者</dt>
    <dd>
      {% if object.acceptanceStaffdb %}
      {{ object.acceptanceStaffdb.fullName }}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item14">
    <dt>所属</dt>
    <dd>
    </dd>
  </dl>

  <dl class="item_dl item15">
    <dt class="height_l sentence_dt2">検収メモ</dt>
    <dd class="height_l sentence_dd2">
      {% if object.acceptanceMemo %}
      {{ object.acceptanceMemo }}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item16">
    <dt>支払（予定）日</dt>
    <dd>
      {% if object.settlementDate %}
      {{ object.settlementDate | date:"Y/m/d" }}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item17">
    <dt>支払完了</dt>
    <dd>
      {% if object.settlement == True %}
        <p>&check;</p>
      {% else %}
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item18">
    <dt>請求書等</dt>
    <dd>
      {% if not object.refFile %}
      {% else %}
        <a href="/media/{{ object.refFile }}" target="_blank">{{ object.refFile }}</a>
      {% endif %}
    </dd>
  </dl>

  <dl class="item_dl item_dl_dummy_s1">
    <dt></dt> <dd></dd>
  </dl>

  <dl class="item_dl item_dl_dummy_s2">
    <dt></dt> <dd></dd>
  </dl>

  <dl class="item_dl item_dl_dummy_l height_l">
    <dt></dt> <dd></dd>
  </dl>

</div>
<hr>

{% endblock content%}

