{% extends 'procurement/base.html' %}
{% load humanize %}

{% block header %}

  <li><a href="{% url 'procurement:list_all' %}">一覧へ戻る</a></li>

{% endblock%}


{% block content %}


<div class="menu_wrapper">

  <div><h3>発注一覧</h3></div>
 
  <div class="menu_wrapper_inner">
    <a class="menu_bt" href="{% url 'procurement:create_request' %}">発注作成</a>
    <ul class="page_nav">
      <li>
        {% if page_obj.has_previous %}
          <a class="menu_bt next_bt" href="?page={{ page_obj.previous_page_number }}">＜</a>
        {% else %}
        {% endif %}
      </li>

      <li>
        {% if page_obj.has_next %}
          <a class="menu_bt menu_bt_mg_left next_bt" href="?page={{ page_obj.next_page_number }}">＞</a>
        {% else %}
        {% endif %}
      </li>
    </ul>
  </div>

</div>

<table class="item-table table_order">

	<tr>
		<th class="sticky_col_th">発注番号</th>
    <th>発注日</th>
    <th>進捗状況</th>
    <th>発注者</th>
    <th>発注者所属</th>
    <th>発注先</th>
		<th>到着予定日</th>
		<th>税込合計</th>
		<th>支払方法</th>
		<th>発注メモ</th>
		<th>納品日</th>
		<th>検収者</th>
    <th>検収者所属</th>
		<th>検収メモ</th>
    <th>支払日</th>
    <th>支払完了</th>
  </tr>
  
  {% for item in object_list %}

    <!-- 進捗状況に応じた色の設定 -->
    {% if item.progress.no == 1 %}
      <tr class="row-white">
    {%  elif item.progress.no == 2 %}
      <tr class="row-blue">
    {%  elif item.progress.no == 3 %}
      <tr class="row-green">
    {%  elif item.progress.no == 4 %}
      <tr class="row-gray">
    {% endif %}

      <td class="sticky_col_td"  onclick="set_search_key(), count_key_clear()">
          <a href="{% url 'procurement:detail_order' item.pk %}">
            {{ item.orderNum }}
          </a>
      </td>
     
      <td class="date_col">{{ item.orderDate | date:"Y/m/d"}}</td>
      <td>{{ item.progress.name }}</td>
      <td>{{ item.orderStaff }}{{ item.orderStaffdb }}</td>
      <td>{{ item.orderStaffDivision.name }}</td>

      <td>
      {% if item.registeredSupplier %}
        {{ item.registeredSupplier.name }}
      {% else %}
        {{ item.irregularSupplier }}
      {% endif %}
      </td>

      <td>{{ item.arrivalDate | date:"Y/m/d" }}</td>

      <td class="number_col">{{ item.totalAmount|intcomma }}</td>

      <td>{{ item.paymentMethod.name }}</td>
      <td>{{ item.orderDescription }}</td>

      <td>{{ item.acceptanceDate | date:"Y/m/d" }}</td>
      <td>{{ item.acceptanceStaff }}{{ item.acceptanceStaffdb }}</td>
      <td>{{ item.acceptanceStaffDivision.name }}</td>

      <td class="longText">{{ item.acceptanceMemo }}</td>
      <td class="date_col">
        {% if item.settlementDate %}
          {{ item.settlementDate | date:"Y/m/d"  }}
        {% else %}-
        {% endif %}
      </td>

      <td>
        {% if item.settlement == True %}
          <p>&check;</p>
        {% else %}
        {% endif %}
      </td>

  </tr>

  {% endfor %}
  
</table>

{% endblock content%}


