{% extends 'procurement/base.html' %}
{% load humanize %}

{% block header %}

  <li><a href="{% url 'procurement:list_all' %}">一覧へ戻る</a></li>


{% endblock%}


{% block content %}


<div class="menu_wrapper">

  <div><h3>依頼一覧</h3></div>

  <div class="menu_wrapper_inner">
    <a class="menu_bt" href="{% url 'procurement:create_request' %}">依頼作成</a>

    <ul class="page_nav">
    <li>
      {% if page_obj.has_previous %}
        <a class="menu_bt menu_bt_mg_left next_bt" href="?page={{ page_obj.previous_page_number }}">＜</a>
      {% else %}
      {% endif %}
    </li>

    <li>
      {% if page_obj.has_next %}
        <a class="menu_bt menu_bt_mg_left next_bt" href="?page={{ page_obj.next_page_number }}">＞</a>
      {% else %}
      {% endif %}
    </li>
    </ul>
  </div>

</div>

<table class="item-table table_request">

	<tr>
		<th class="sticky_col_th">依頼番号</th>
    <th>依頼日</th>
    <th>進捗</th>
    <th>発注番号</th>
    <th>依頼者</th>
    <th>依頼者所属</th>
    <th>希望納期</th>
		<th>納品先</th>
		<th>大分類</th>
		<th>小分類</th>
		<th>標準備品</th>
    <th>稟議</th>
    <th>プロジェクト</th>
    <th>目的・依頼内容</th>
		<th>数量</th>
		<th>税込総額</th>
		<th>管理担当</th>
		<th>管理メモ</th>

  </tr>
  
  {% for item in object_list %}

  <!-- 進捗状況に応じた色の設定 -->
  {% if item.adminCheck.no == 1 %}
  <tr class="row-yellow">
  {%  elif item.adminCheck.no == 2 %}
    <tr class="row-white">
  {%  elif item.adminCheck.no == 0 %}
    <tr class="row-red">
  {%  elif item.adminCheck.no == 4 %}
    <tr class="row-blue">
  {%  elif item.adminCheck.no == 5 %}
    <tr class="row-green">
  {%  elif item.adminCheck.no == 6 %}
    <tr class="row-gray">
  {% endif %}

      <td class="sticky_col_td"  onclick="set_search_key(), count_key_clear()">
        <a href="{% url 'procurement:detail_request' item.pk %}">
          {{ item.requestNum }}
        </a>
      </td>      
     
      <td class="date_col">{{ item.submissionDate | date:"Y/m/d"}}</td>
      <td>{{ item.adminCheck.name }}</td>
      <td>{{ item.orderInfo.orderNum }}</td>

      <td>{{ item.requestStaff }}</td>
      <td>{{ item.requestStaffDivision }}</td>
    
      <td class="date_col">{{ item.dueDate | date:"Y/m/d"}}</td>
      <td>{{ item.deliveryAddress.name }}</td>

      <td>{{ item.itemCategory1.name }}</td>
      <td>{{ item.itemCategory2.name }}</td>
      <td>{{ item.standardItem.name }}</td>
      <td>{% if item.approved %}
            {{ item.approved }}
          {%  else %}
          {% endif %}  
      </td>
      <td>{% if item.project %}
            {{ item.project }}
          {%  else %}
          {% endif %}  
      </td>
      <td class="longText">{{ item.requestDescription }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.estimatedAmount|intcomma }}</td>

      <td>
        {%  if item.adminStaff %}
          {{ item.adminStaff }}
        {%  else %}
        {% endif %}  
      </td>
      <td class="longText">
        {%  if item.adminDescription %}
          {{ item.adminDescription }}
        {%  else %}
        {% endif %} 
      </td>
          
  </tr>

  {% endfor %}
  
</table>



{% endblock content%}


