{% extends 'procurement/base.html' %}
{% load humanize %}

{% block header %}

  <li><a href="">標準品</a></li>
  <li><a href="">標準発注先</a></li>
  <li><a href="{% url 'procurement:list_request' %}">検索</a></li>

{% endblock%}


{% block content %}
<form id="form_list_all" method="post">{% csrf_token %}

  


<!-- 検収メニュー -->
<h3 class="acceptance_title" id="acceptance_title">検収処理<br>（商品・サービスについて精査が完了した場合に実行）</h3>

<div class="acceptance_wrapper" id="acceptance_wrapper">

  <dl class="acceptance_item1">
    <dt>検収者</dt>
    <dd id="staffNumber_acceptance"  class="staffNumber">
      <p>No：</p>
      <input name="acceptanceStaffNumber" type="number">
      <p>&#8658;</p>
      <select name="acceptanceStaffNumberdb">
        {% for item_staffdb in staffSelect_list %}
          <option value="{{ item_staffdb.id }}">{{ item_staffdb.fullName }}</option>
        {% endfor %}
      </select>
    </dd>
  </dl>


  <dl class="acceptance_item2">
    <dt>検収日</dt>
    <dd><input type="date" name="acceptanceDate_acceptance" id="acceptanceDate_acceptance"></dd>
  </dl>

  <dl class="acceptance_item3">
    <dt class="acceptance_dt_long">メモ</dt>
    <dd class="acceptance_dd_long"><textarea  name="acceptanceMemo_acceptance" placeholder="破損・欠品等があれば記載"></textarea></dd>
  </dl>

  <!-- 発注のpkを自動入力 -->
  <input type="hidden" name="selected_order_pk_acceptance" id="selected_order_pk_acceptance">
  
  <!-- 依頼番号 -->
  <input type="hidden" name="selected_request_pk_acceptance" id="selected_request_pk_acceptance">
</div>





<div class="menu_wrapper">
  <div>
    <h3>依頼</h3>
    <h4>※たのめーる以外は依頼作成が必要</h4>
  </div>
  <div class="menu_wrapper_inner">
    <a class="menu_bt" href="{% url 'procurement:create_request' %}" id="create_request">1 依頼作成</a>

    <p class="menu_bt menu_bt_mg_left row-blue yubi" id="acceptance_start" onclick="accepance_start()">4 受領処理</p>
    <input class="menu_bt menu_bt_mg_left row-green yubi" id="acceptance_done" type="submit" value="実行" name="button_acceptance">
    <a class="menu_bt menu_bt_mg_left row-gray yubi" id="acceptance_none" onclick="accepance_stop()">中止</a>
  </div>
</div>



<table class="item-table">

	<tr>
		<th class="sticky_col_th first_col">選択</th>
		<th class="sticky_col_th second_col">依頼番号</th>
    <th>依頼日</th>
    <th>進捗</th>
    <th>発注番号</th>
    <th>依頼者</th>
    <th>所属</th>
    <th>依頼内容</th>
    <th>希望納期</th>
    <th>納品予定</th>
		<th>納品先</th>
    <th>発注先</th>

		<th>数量</th>
		<th>税込総額</th>
		<th>目的</th>
    <th>標準品</th>
    <th>稟議</th>
    <th>プロジェクト</th>

		<th>精査者</th>
		<th>精査メモ</th>

  </tr>
  
  {% for item in object_list %}

  <!-- 進捗状況に応じた色の設定 -->
    {% if item.adminCheck.no == 1 %}
    <tr class="row-yellow">
    {%  elif item.adminCheck.no == 2 %}
      <tr class="row-white">
    {%  elif item.adminCheck.no == 0 %}
      <tr class="row-red">
    {%  elif item.adminCheck.no == 4 %}
      <tr class="row-blue">
    {%  elif item.adminCheck.no == 5 %}
      <tr class="row-green">
    {%  elif item.adminCheck.no == 6 %}
      <tr class="row-gray">
    {% endif %}

      <td class="sticky_col_td first_col">
        <input onclick="clickRequest()" type="checkbox" name="selected_request" value="{{ item.pk }}">
      </td>

      <td class="sticky_col_td second_col">
        <a href="{% url 'procurement:detail_request' item.pk %}">
          {{ item.requestNum }}
        </a>
      </td>

      <td class="date_col">{{ item.submissionDate | date:"m/d"}}</td>
      <td name="adminCheck_request">{{ item.adminCheck.name }}</td>

      <td class="date_col" name="orderNumInRequest">
        {% if item.orderInfo %}
          <a href="{% url 'procurement:detail_order'  item.orderInfo.pk %}">
            {{ item.orderInfo.orderNum }}
          </a>
        {% else %}
          <p>-</p>
        {% endif %}
      </td>

      <td>{{ item.requestStaffdb.fullName }}</td>
      <td>{{ item.requestStaffDivision.name }}</td>
    
      <td class="longText">{{ item.requestDetail }}</td>
      <td class="date_col">{{ item.dueDate | date:"m/d"}}</td>
      <td class="date_col">
        {%  if item.orderInfo %}
          {{ item.orderInfo.arrivalDate | date:"m/d" }}
        {%  else %}
          <p>-</p>
        {% endif %}
      </td>
      <td>{{ item.deliveryAddress.name }}</td>

      <td>
        {%  if item.orderInfo %}
          {%  if item.orderInfo.registeredSupplier %}
            {{ item.orderInfo.registeredSupplier.name }}
          {%  else %}
            {{ item.orderInfo.irregularSupplier }}
          {% endif %}
        {% endif %}
      </td>

      <td>{{ item.quantity }}</td>
      <td class="number_col" name="selected_request_amount">{{ item.estimatedAmount|intcomma }}</td>

      <td>{{ item.purpose.name }}</td>
      <td class="date_col">
        {% if item.standardItem == True %}
          <p>&check;</p>
        {% else %}
        {% endif %}
      </td>

      <td>{% if item.approval %}
            {{ item.approval }}
          {%  else %}
          {% endif %}  
      </td>
      <td>{% if item.project %}
            {{ item.project }}
          {%  else %}
          {% endif %}  
      </td>

      <td>
        {%  if item.adminStaffdb %}
          {{ item.adminStaffdb.fullName }}
        {%  else %}
        {% endif %}  
      </td>

      <td class="longText">
        {%  if item.adminDescription %}
          {{ item.adminDescription }}
        {%  else %}
        {% endif %} 
      </td>
          
  </tr>

  {% endfor %}
  
</table>


<!-- 検討・精査メニュー -->
<h3 class="selectSupplier_title" id="selectSupplier_title">精査</h3>

<div class="selectSupplier_wrapper" id="selectSupplier_wrapper">

  <dl>
    <dt>精査者</dt>
    <dd id="staffNumber_selectSupplier" class="staffNumber">
      <p>No：</p>
      <input name="adminStaffNumber" type="number">
      <p>&#8658;</p>
      <select name="selectSupplierStaffNumberdb" class="list_filter_select_s">
        {% for item_staffdb in staffSelect_list_selectSupplier %}
          <option value="{{ item_staffdb.id }}">{{ item_staffdb.fullName }}</option>
        {% endfor %}
      </select>
    </dd>
  </dl>

  <!-- 発注のpkを自動入力 -->
  <input type="hidden" name="selected_request_pk_selectSupplier" id="selected_request_pk_selectSupplier">
  
</div>



<!-- 発注報告メニュー -->
<div>
  <!-- 発注のpkを自動入力 -->
  <input type="hidden" name="selected_order_pk_orderReport" id="selected_order_pk_orderReport">
  
  <!-- 依頼番号 -->
  <input type="hidden" name="selected_request_pk_orderReport" id="selected_request_pk_orderReport">
</div>





<div class="menu_wrapper amount_check" id="amount_check">

  <dt>依頼</dt>
  <dd><input type="tel" id="request_amount" name="request_amount" readonly="readonly"></dd>

  <dt>- 発注</dt>
  <dd><input type="tel" id="order_amount" name="order_amount" readonly="readonly"></dd>

  <dt>= 差額</dt>
  <dd><input type="tel" id="diff_amount" name="diff_amount" readonly="readonly"></dd>

<!-- 金額 int-->
  <input type="hidden" name="request_amount_int" id="request_amount_int">
  <input type="hidden" name="order_amount_int" id="order_amount_int">
  <input type="hidden" name="diff_amount_int" id="diff_amount_int">

</div>



<div class="menu_wrapper">
  <div><h3>発注</h3></div>
  <div class="menu_wrapper_inner">

    <p class="menu_bt menu_bt_mg_left row-yellow yubi" id="selectSupplier_start" onclick="selectSupplier_start()">2 精査</p>
    <input type="submit" class="menu_bt menu_bt_mg_left row-yellow yubi" id="selectSupplier_done" value="検討開始" name="button_selectSupplier">
    <input type="submit" class="menu_bt menu_bt_mg_left row-red yubi" id="selectSupplier_decline" value="差戻" name="button_selectSupplier_decline">
    <input type="submit" class="menu_bt menu_bt_mg_left row-gray yubi" id="button_selectSupplier_outOfScope" value="対象外" name="button_selectSupplier_outOfScope">
    <p class="menu_bt menu_bt_mg_left row-white yubi" id="selectSupplier_stop" onclick="selectSupplier_stop()">戻る</p>

    <a class="menu_bt menu_bt_mg_left" id="create_order" href="{% url 'procurement:create_order' %}">3-1 発注作成</a>
    <input type="submit" onclick="reportOrder();"  class="menu_bt menu_bt_mg_left yubi" value="3-2 突合" id="report_order" name="button_report_order" >
    <a class="menu_bt menu_bt_mg_left" id="create_order_request" href="{% url 'procurement:create_order_request' %}">3 一括作成</a>

  </div>
</div>


<table class="item-table table_order">

	<tr>
		<th class="sticky_col_th first_col">選択</th>
		<th class="sticky_col_th second_col">発注番号</th>
    <th>発注日</th>
    <th>進捗状況</th>
    <th>発注者</th>
    <th>発注先</th>
		<th>到着予定</th>
		<th>税込合計</th>
		<th>支払方法</th>
		<th>発注備考</th>
		<th>納品日</th>
		<th>検収者</th>
		<th>検収メモ</th>
    <th>支払（予定）日</th>
    <th>支払完了</th>
  </tr>
  
  {% for item in object_list_order %}

    <!-- 進捗状況に応じた色の設定 -->
    {% if item.progress.no == 1 %}
      <tr class="row-white">
    {%  elif item.progress.no == 2 %}
      <tr class="row-blue">
    {%  elif item.progress.no == 3 %}
      <tr class="row-green">
    {%  elif item.progress.no == 4 %}
    <tr class="row-gray">
    {% endif %}

      <td class="sticky_col_td first_col">
        <input onclick="clickOrder()" type="radio" name="selected_order" id="selected_order{{ forloop.counter }}" value="{{ item.pk }}" checked="checked" >
      </td>

      <td class="sticky_col_td second_col">
        <a href="{% url 'procurement:detail_order' item.pk %}" >
          <p name="orderNumInOrder">{{ item.orderNum }}</p>
        </a>
      </td>
     
      <td class="date_col">{{ item.orderDate | date:"m/d"}}</td>
      <td name="progress_order">{{ item.progress.name }}</td>
      <td>{{ item.orderStaffdb.fullName }}</td>

      <td>
      {% if item.registeredSupplier %}
      {{ item.registeredSupplier.name }}
      {% else %}
        {{ item.irregularSupplier }}
      {% endif %}
      </td>

      <td class="date_col">{{ item.arrivalDate | date:"m/d" }}</td>

      <td class="number_col" name="selected_order_amount">{{ item.totalAmount|intcomma }}</td>

      <td>{{ item.paymentMethod.name }}</td>
      <td>{{ item.orderDescription }}</td>

      <td class="date_col">
        {% if item.acceptanceDate %}
          {{ item.acceptanceDate | date:"m/d"  }}
        {% else %}-
        {% endif %}
      </td>

      <td>
        {% if item.acceptanceStaffdb %}
          {{ item.acceptanceStaffdb }}
        {% else %}
        {% endif %}
      </td>


      <td class="longText">
        {% if item.acceptanceMemo %}
          {{ item.acceptanceMemo }}
        {% else %}
        {% endif %}
      </td>

      <td class="date_col">
        {% if item.settlementDate %}
          {{ item.settlementDate | date:"m/d"  }}
        {% else %}-
        {% endif %}
      </td>

      <td>
        {% if item.settlement == True %}
          <p>&check;</p>
        {% else %}
        {% endif %}
      </td>

  </tr>

  {% endfor %}
  
</table>
</form>

{% load static %}
<script src="{% static 'procurement/js/list_all.js' %}"></script>

{% block extrajs %}
<script>


/*ajax起動用*/
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
  beforeSend: function (xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
  }
});
/*----------*/



/*-----検収者-----*/

let staffNumberElement = document.getElementById('staffNumber_acceptance').children[1];
let staffdbElement = document.getElementById('staffNumber_acceptance').children[3];

const inputStaffNumber = (select) => {
 
  for (let i = staffdbElement.childElementCount-1 ; i >= 0; i--) {  
    staffdbElement.remove(i);
  };

  $.ajax({
      url: "{% url 'procurement:ajax_get_acceptanceStaff' %}",
      type: 'GET',
      data: {'acceptanceStaffNumber': staffNumberElement.value},
  }).done(response => {

    // 選択肢を作成
    
    let items_staffdb = response.staffList

    for (let i = 0; i < items_staffdb.length; i++) {  
      let option = document.createElement('option')
      option.setAttribute('value', items_staffdb[i]['pk']);
      option.innerHTML = items_staffdb[i]['fullName'];

      staffdbElement.appendChild(option); 
      };
  });
};


staffdbElement.addEventListener('focus', () => {
  console.log("test");
  inputStaffNumber();
});



/*-----精査者-----*/

let staffNumberElement2 = document.getElementById('staffNumber_selectSupplier').children[1];
let staffdbElement2 = document.getElementById('staffNumber_selectSupplier').children[3];

const inputStaffNumber2 = (select) => {
 
  for (let i = staffdbElement2.childElementCount-1 ; i >= 0; i--) {  
    staffdbElement2.remove(i);
  };

  $.ajax({
      url: "{% url 'procurement:ajax_get_adminStaff' %}",
      type: 'GET',
      data: {'adminStaffNumber': staffNumberElement2.value},
  }).done(response => {

    // 選択肢を作成
    
    let items_staffdb = response.staffList

    for (let i = 0; i < items_staffdb.length; i++) {  
      let option = document.createElement('option')
      option.setAttribute('value', items_staffdb[i]['pk']);
      option.innerHTML = items_staffdb[i]['fullName'];

      staffdbElement2.appendChild(option); 
      };
  });
};



staffdbElement2.addEventListener('focus', () => {
  console.log("test");
  inputStaffNumber2();
});



</script>
{% endblock extrajs %}



{% endblock content%}


