{% extends 'procurement/base.html' %}
{% load humanize %}

{% block header %}

  <li><a class="menu_bt" href="{% url 'procurement:list_all' %}">Topへ戻る</a></li>


{% endblock%}


{% block content %}

<form onsubmit="return false;" action="" method="GET" class="list_filter">
    
  <div class="menu_wrapper">
    <div class="filter_bt_wrapper">
      <input type="button" class="menu_bt menu_bt_l yubi row-yellow" id="search_btn" onclick="set_search_key_procurement(),submit();" class="menu_bt" value="検索実施">
      <a class="menu_bt_mg_left yubi tex_decoration_none" href="{% url 'procurement:list_request' %}" onclick="clear_criteria();"><h5>条件削除</h5></a>
      <p class="menu_bt menu_bt_mg_left yubi row-yellow" id="display_button_color" onclick="filter_item_bt();"><span id="filter_bt_on">条件非表示</span><span id="filter_bt_off">条件表示</span></p>
    </div>

  </div>


    <div id="filter_items" class="list_filter_items">

      <dl class="payment_radio">
        <dt>支払（個別発注先・請求書）</dt>
        <dd>
          <input class="radio_left_end" type="radio" name="settlementCheck" value="0">未
          <input type="radio" name="settlementCheck" value="1">済
          <input type="radio" name="settlementCheck" value="2" checked="checked">両方
        </dd>
      </dl>

      
      <dl class="list_filter_date" id="completionDateFilter">
        <dt>支払日</dt>
        <dd>
          <input id="settlementDateFrom" name="settlementDateFrom" value="{{ request.GET.settlementDateFrom }}" type="date">
          <p>-</p>
          <input id="settlementDateTo" name="settlementDateTo" value="{{ request.GET.settlementDateTo }}" type="date"></dd>
        </dd>
      </dl>

      <dl>
        <dt>社員番号 &#8658; 依頼者</dt>
        <dd id="staffNumber">
          <input name="staffNumber" type="number">
          <select id="staffdb" name="staffdb" class="list_filter_select_s" type="number">
            <option value=0>-</option>
            {% for staffdb in staffdb_list %}
              <option value="{{ staffdb.id }}">{{ staffdb.fullName }}</option>
            {% endfor %}
          </select>
        </dd>
      </dl>

      <dl>
        <dt>所属</dt>
        <dd>
          <select id="division" name="division" class="list_filter_select" type="number">
            <option value=0>全部門</option>
          {% for division in divisionSelect_list %}
            <option value="{{ division.id }}">{{ division.name }}</option>
          {% endfor %}
        </select>
        </dd>
      </dl>

      <dl>
        <dt>キーワード</dt>
        <dd><input id="word" name="word" value="{{ request.GET.word }}" type="text"></dd>
      </dl>

      <dl class="list_filter_date">
        <dt>依頼日</dt>
        <dd>
          <input id="submissionDateFrom" name="submissionDateFrom" value="{{ request.GET.submissionDateFrom }}" type="date">
          <p>-</p>
          <input id="submissionDateTo" name="submissionDateTo" value="{{ request.GET.submissionDateTo }}" type="date">
        </dd>
      </dl>

    </div>
  </form>



<div class="menu_wrapper">

  <div><h3>依頼一覧</h3></div>

  <div class="menu_wrapper_inner">

    <ul class="page_nav">
    <li>
      {% if page_obj.has_previous %}
        <a class="menu_bt menu_bt_mg_left next_bt" href="?page={{ page_obj.previous_page_number }}">＜</a>
      {% else %}
      {% endif %}
    </li>

    <li>
      {% if page_obj.has_next %}
        <a class="menu_bt menu_bt_mg_left next_bt" href="?page={{ page_obj.next_page_number }}">＞</a>
      {% else %}
      {% endif %}
    </li>
    </ul>
  </div>

</div>

<table class="item-table table_request">

	<tr>
		<th class="sticky_col_th first_col">選択</th>
		<th class="sticky_col_th second_col">依頼番号</th>
    <th>依頼日</th>
    <th>進捗</th>
    <th>発注番号</th>
    <th>依頼者</th>
    <th>所属</th>
    <th>依頼内容</th>
    <th>希望納期</th>
    <th>納品日</th>
		<th>納品先</th>
    <th>発注先</th>

    <th>発注日</th>
    <th>支払日</th>
    <th>支払完了</th>

		<th>数量</th>
		<th>税込総額</th>
		<th>目的</th>
    <th>標準品</th>
    <th>稟議</th>
    <th>プロジェクト</th>

		<th>精査者</th>
		<th>精査メモ</th>

    <th>発注者</th>
    <th>発注メモ</th>

		<th>検収日</th>
    <th>検収者</th>
  </tr>
  
  {% for item in object_list %}

  <!-- 進捗状況に応じた色の設定 -->
  {% if item.adminCheck.no == 1 %}
  <tr class="row-yellow">
  {%  elif item.adminCheck.no == 2 %}
    <tr class="row-white">
  {%  elif item.adminCheck.no == 0 %}
    <tr class="row-red">
  {%  elif item.adminCheck.no == 4 %}
    <tr class="row-blue">
  {%  elif item.adminCheck.no == 5 %}
    <tr class="row-green">
  {%  elif item.adminCheck.no == 6 %}
    <tr class="row-gray">
  {% endif %}
  <td class="sticky_col_td first_col">
    <input onclick="clickRequest()" type="checkbox" name="selected_request" value="{{ item.pk }}">
  </td>

  <td class="sticky_col_td second_col"  onclick="set_search_key_procurement(), count_key_clear_procurement();">
    <a href="{% url 'procurement:detail_request' item.pk %}">
      {{ item.requestNum }}
    </a>
  </td>

  <td class="date_col">{{ item.submissionDate | date:"m/d"}}</td>
  <td>{{ item.adminCheck.name }}</td>
  <td name="orderNumInRequest">
    {% if item.orderInfo %}
      <a href="{% url 'procurement:detail_order'  item.orderInfo.pk %}">
      {{ item.orderInfo.orderNum }}
      </a>
    {% else %}
    {% endif %}
  </td>

  <td>{{ item.requestStaffdb.fullName }}</td>
  <td>{{ item.requestStaffDivision.name }}</td>

  <td class="longText">{{ item.requestDetail }}</td>
  <td class="date_col">{{ item.dueDate | date:"m/d"}}</td>
  <td class="date_col">
    {%  if item.orderInfo %}
      {{ item.orderInfo.arrivalDate | date:"m/d" }}
    {%  else %}
      <p>-</p>
    {% endif %}
  </td>
  <td>{{ item.deliveryAddress.name }}</td>

  <td>
    {%  if item.orderInfo %}
      {%  if item.orderInfo.registeredSupplier %}
        {{ item.orderInfo.registeredSupplier.name }}
      {%  else %}
        {{ item.orderInfo.irregularSupplier }}
      {% endif %}
    {% endif %}
  </td>

  <td class="date_col">
    {%  if item.orderInfo %}
      {{ item.orderInfo.orderDate | date:"m/d" }}
    {%  else %}
      <p>-</p>
    {% endif %}
  </td>

  <td class="date_col">
    {%  if item.orderInfo.paymentMethod.no == 1 and item.orderInfo.irregularSupplier %}
    {{ item.orderInfo.settlementDate | date:"m/d" }}
    {%  else %}
    <p>-</p>
    {% endif %}
  </td>

  <td class="date_col">
    {%  if item.orderInfo.paymentMethod.no == 1 and item.orderInfo.irregularSupplier %}

      {%  if item.orderInfo.settlement == True %}
      <p>&check;</p>
      {%  else %}
      <p>未</p>
      {% endif %}

    {%  else %}
    <p>-</p>
    {% endif %}
  </td>



  <td>{{ item.quantity }}</td>
  <td class="number_col" name="selected_request_amount">{{ item.estimatedAmount|intcomma }}</td>

  <td>{{ item.purpose.name }}</td>
  <td class="date_col">
    {% if item.standardItem == True %}
      <p>&check;</p>
    {% else %}
    {% endif %}
  </td>

  <td>{% if item.approval %}
        {{ item.approval }}
      {%  else %}
      {% endif %}  
  </td>
  <td>{% if item.project %}
        {{ item.project }}
      {%  else %}
      {% endif %}  
  </td>

  <td>
    {%  if item.adminStaffdb %}
      {{ item.adminStaffdb.fullName }}
    {%  else %}
    {% endif %}  
  </td>

  <td class="longText">
    {%  if item.adminDescription %}
      {{ item.adminDescription }}
    {%  else %}
    {% endif %} 
  </td>
  
  
  <td>
    {%  if item.orderInfo %}
      {{ item.orderInfo.orderStaffdb.fullName }}
    {%  else %}
      <p>-</p>
    {% endif %}
  </td>

  <td class="longText">
    {%  if item.orderInfo %}
      {{ item.orderInfo.orderDescription }}
    {%  else %}
      <p>-</p>
    {% endif %}
  </td>


  <td class="date_col">
    {%  if item.orderInfo %}
      {{ item.orderInfo.acceptanceDate | date:"m/d" }}
    {%  else %}
      <p>-</p>
    {% endif %}
  </td>

  <td class="date_col">
    {%  if item.orderInfo %}
      {{ item.orderInfo.acceptanceStaffdb.fullName }}
    {%  else %}
      <p>-</p>
    {% endif %}
  </td>
      
</tr>

  {% endfor %}
  
</table>



{% load static %}
<script src="{% static 'procurement/js/list_request.js' %}"></script>


{% block extrajs %}
<script>

/*ajax起動用*/
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
  beforeSend: function (xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
  }
});
/*----------*/


let staffNumberElement = document.getElementById('staffNumber').children[0];
let staffdbElement = document.getElementById('staffNumber').children[1];

console.log(staffNumberElement.value)
console.log(staffdbElement)

const inputStaffNumber = (select) => {
 
  for (let i = staffdbElement.childElementCount-1 ; i >= 0; i--) {  
    staffdbElement.remove(i);
  };

  $.ajax({
      url: "{% url 'procurement:ajax_get_requestStaff_filter' %}",
      type: 'GET',
      data: {'staffNumber': staffNumberElement.value},
  }).done(response => {

    // 選択肢を作成
    
    let items_staffdb = response.staffList
    console.log(items_staffdb)
    console.log(items_staffdb.length)

    for (let i = 0; i < items_staffdb.length; i++) {  
      let option = document.createElement('option')
      option.setAttribute('value', items_staffdb[i]['pk']);
      option.innerHTML = items_staffdb[i]['fullName'];

      staffdbElement.appendChild(option); 
      };
  });
  console.log(staffdbElement)  
};



staffdbElement.addEventListener('focus', () => {
  console.log("test");
  inputStaffNumber();
});

</script>
{% endblock extrajs %}


{% endblock content%}