{% extends 'procurement/base.html' %}
{% load humanize %}

{% block header %}

  <li><a href="{% url 'procurement:list_request' %}">依頼・検収一覧</a></li>
  <li><a href="{% url 'procurement:list_order' %}">発注一覧</a></li>

{% endblock%}


{% block content %}


<div class="menu_wrapper">
  <div><h3>依頼</h3></div>
  <div class="menu_wrapper_inner">
    <a class="menu_bt" href="{% url 'procurement:create_request' %}">依頼作成</a>
    <a class="menu_bt menu_bt_mg_left row-blue">検収実行</a>
  </div>
</div>

<table class="item-table">

	<tr>
		<th class="sticky_col_th first_col">選択</th>
		<th class="sticky_col_th second_col">依頼番号</th>
    <th>依頼日</th>
    <th>進捗</th>
    <th>発注番号</th>
    <th>依頼者</th>
    <th>依頼者所属</th>
    <th>希望納期</th>
		<th>納品先</th>
		<th>分類1</th>
		<th>分類2</th>
		<th>標準備品</th>
    <th>目的・発注要件</th>
		<th>数量</th>
		<th>税込総額</th>
		<th>管理担当</th>
		<th>管理メモ</th>

  </tr>
  
  {% for item in object_list %}

  <!-- 進捗状況に応じた色の設定 -->
    {% if item.adminCheck.no == 1 %}
    <tr class="row-white">
    {%  elif item.adminCheck.no == 2 %}
      <tr class="row-yellow">
    {%  elif item.adminCheck.no == 0 %}
      <tr class="row-red">
    {%  elif item.adminCheck.no == 4 %}
      <tr class="row-blue">
    {%  elif item.adminCheck.no == 5 %}
      <tr class="row-green">
    {%  elif item.adminCheck.no == 6 %}
      <tr class="row-gray">
    {% endif %}

      <td class="sticky_col_td first_col">
        <input onclick="checkAmount(),correspondOrderNumber()" type="checkbox" name="selected_request" value="{{ forloop.counter }}">
      </td>

      <td class="sticky_col_td second_col">
        <a href="{% url 'procurement:detail_request' item.pk %}">
          {{ item.requestNum }}
        </a>
      </td>
     
      <td class="date_col">{{ item.submissionDate | date:"Y/m/d"}}</td>
      <td>{{ item.adminCheck.name }}</td>
      <td name="orderNumInRequest">{{ item.orderInfo.orderNum }}</td>

      <td>{{ item.requestStaff }}</td>
      <td>{{ item.requestStaffDivision }}</td>
    
      <td class="date_col">{{ item.dueDate | date:"Y/m/d"}}</td>
      <td>{{ item.deliveryAddress.name }}</td>

      <td>{{ item.itemCategory1.name }}</td>
      <td>{{ item.itemCategory2.name }}</td>
      <td>{{ item.standardItem.name }}</td>
      <td class="longText">{{ item.requestDescription }}</td>
      <td>{{ item.quantity }}</td>
      <td class="number_col" name="selected_request_amount">{{ item.estimatedAmount|intcomma }}</td>

      <td>
        {%  if item.adminStaff %}
          {{ item.adminStaff }}
        {%  else %}
        {% endif %}  
      </td>
      <td class="longText">
        {%  if item.adminDescription %}
          {{ item.adminDescription }}
        {%  else %}
        {% endif %} 
      </td>
          
  </tr>

  {% endfor %}
  
</table>

<div class="menu_wrapper amount_check">

  <dt>依頼</dt>
  <dd><input type="tel" id="request_amount"></dd>

  <dt>- 発注</dt>
  <dd><input type="tel" id="order_amount"></dd>

  <dt>= 差額</dt>
  <dd><input type="tel" id="diff_amount"></dd>

</div>



<form action="{% url 'procurement:update_request_order' 1 %}" method="post">
{% csrf_token %}
<div class="menu_wrapper">
  <div><h3>発注・検収</h3></div>
  <div class="menu_wrapper_inner">
    <a class="menu_bt" href="{% url 'procurement:create_order' %}">発注実施</a>
    <input type="submit" value="発注報告" class="menu_bt menu_bt_mg_left row-yellow">
  </div>
</div>


<table class="item-table table_order">

	<tr>
		<th class="sticky_col_th first_col">選択</th>
		<th class="sticky_col_th second_col">発注番号</th>
    <th>発注日</th>
    <th>進捗状況</th>
    <th>発注者</th>
    <th>発注者所属</th>
    <th>発注先</th>
		<th>到着予定日</th>
		<th>税込10%</th>
		<th>税込8%</th>
		<th>非課税</th>
		<th>税込合計</th>
		<th>支払方法</th>
		<th>発注メモ</th>
		<th>予定金額</th>
		<th>納品日</th>
		<th>納品担当者</th>
		<th>納品メモ</th>
  </tr>
  
  {% for item in object_list_order %}

    <!-- 進捗状況に応じた色の設定 -->
    {% if item.progress.no == 1 %}
      <tr class="row-yellow">
    {%  elif item.progress.no == 2 %}
      <tr class="row-blue">
    {%  elif item.progress.no == 3 %}
      <tr class="row-green">
    {%  elif item.progress.no == 4 %}
    <tr class="row-gray">
    {% endif %}

      <td class="sticky_col_td first_col">
        <input onclick="checkAmount()" type="radio" name="selected_order" id="selected_order{{ forloop.counter }}" value="{{ forloop.counter }}" checked="checked" >
      </td>

      <td class="sticky_col_td second_col">
        <a href="{% url 'procurement:detail_order' item.pk %}">
          <p>{{ item.orderNum }}</p>
        </a>
      </td>
     
      <td class="date_col">{{ item.orderDate | date:"Y/m/d"}}</td>
      <td>{{ item.progress.name }}</td>
      <td>{{ item.orderStaff }}</td>
      <td>{{ item.orderStaffDivision.name }}</td>

      <td>
      {% if item.registeredSupplier %}
      {{ item.registeredSupplier.name }}
      {% else %}
        {{ item.irregularSupplier }}
      {% endif %}
      </td>

      <td>{{ item.arrivalDate | date:"Y/m/d" }}</td>

      <td class="number_col">{{ item.amount1|intcomma }}</td>
      <td class="number_col">{{ item.amount2|intcomma }}</td>
      <td class="number_col">{{ item.amount3|intcomma }}</td>
      <td class="number_col" name="selected_order_amount">{{ item.totalAmount|intcomma }}</td>

      <td>{{ item.payment.name }}</td>
      <td>{{ item.orderDescription }}</td>

      <td>{{ item.acceptanceDate | date:"Y/m/d" }}</td>
      <td>{{ item.acceptanceStaff }}</td>
      <td>{{ item.acceptanceStaffDivision.name }}</td>

      <td class="longText">{{ item.acceptanceMemo }}</td>
  </tr>

  {% endfor %}
  
</table>
</form>

<script>
  
function checkAmount(){

// 発注依頼を選択する度にフォームに金額を入力
  let list_request = document.getElementsByName('selected_request');
  let len_list_request = list_request.length;
  let selected_request_num = 0;

  let list_request_amount = document.getElementsByName('selected_request_amount');

  for (let i = 0; i < len_list_request ; i++){
    if (list_request[i].checked){
      selected_request_num = selected_request_num + Number(list_request_amount[i].textContent.replace(/,/g, ''));
    }
  }
  document.getElementById("request_amount").value=String(selected_request_num).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');

// 発注情報を選択する度にフォームに金額を入力
  let list_order = document.getElementsByName('selected_order');
  let len_list_order = list_order.length;
  let selected_order_num = '';

  let list_order_amount = document.getElementsByName('selected_order_amount');

  for (let i = 0; i < len_list_order ; i++){
    if (list_order[i].checked){
      selected_order_num = Number(list_order_amount[i].textContent.replace(/,/g, ''));
    }
  }
  document.getElementById("order_amount").value=String(selected_order_num).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');

  // 差額を計算
  let str1 = document.getElementById('request_amount').value;
  let num1 = Number(str1.replace(/[^0-9]/g, ''));

  let str2 = document.getElementById('order_amount').value;
  let num2 = Number(str2.replace(/[^0-9]/g, ''));

  let diff = num2 - num1;
  let wnum = new String(diff).replace(/,/g, "");

  // 最上位桁まで下桁から３桁ごとにカンマ付加を繰り返す
  while(wnum != (wnum = wnum.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
  document.getElementById("diff_amount").value=wnum;
};


// 依頼を選択すると自動で発注を選択
function correspondOrderNumber(){
  let list_request = document.getElementsByName('selected_request');
  let list_orderNumInRequest = document.getElementsByName('orderNumInRequest');
  let list_orderNumInOrder = document.getElementsByName('orderNumInOrder');
  let list_order = document.getElementsByName('selected_order');

  let len_list_request = list_request.length;
  let len_list_order = list_request.length;


  for (let i = 0; i < len_list_request ; i++){
    if (list_request[i].checked && list_orderNumInRequest[i] > 0){
      orderNumInRequest = list_orderNumInRequest[i].textContent;

      for (let j = 0; j < len_list_order ; j++){
        if (list_orderNumInOrder[j].textContent == orderNumInRequest){
          list_order[j].checked  = true;
        };
      };
    };
  };
};

</script>

{% endblock content%}


