{% extends 'procurement/base.html' %}

{% block header %}
  <li>
    <a href="{% url 'procurement:detail_request' object.pk %}"><p>戻る</p></a>
  </li>
{% endblock header %}

{% block content %}


<form class="container_request_edit" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="menu_wrapper_inner item0">
    <div>
      <input class="menu_bt" type="submit" value='更新実行'>
    </div>
    
    <div class="delete_bt">
      <div>削除</div>
      {{ form.deletedItem}}
    </div>
  </div>


  <dl class="item_dl item1">
    <dt>依頼番号</dt>
    <dd class="itemNum free_color">{{ form.requestNum}}</dd>
  </dl>

  <dl class="item_dl item2">
    <dt>依頼日</dt>
    <dd>{{ form.submissionDate}}</dd>
  </dl>
    

  <dl class="item_dl item3">
    <dt>希望納期</dt>
    <dd>{{ form.dueDate }}</dd>
  </dl>

  <dl class="item_dl item4">
    <dt>依頼者</dt>
    <dd id="staffNumber">
      <input name="requestStaffNumber" type="number">
      {{ form.requestStaff}}{{ form.requestStaffdb }}
    </dd>
  </dl>

  <dl class="item_dl item5">
    <dt>所属</dt>
    <dd>{{ form.requestStaffDivision}}</dd>
  </dl>

  <dl class="item_dl item6">
    <dt>納品先</dt>
    <dd>{{ form.deliveryAddress}}</dd>
  </dl>

  <dl class="item_dl item7">
    <dt>区分</dt>
    <dd>{{ form.purpose}}</div>
    </dd>
  </dl>


  <dl class="item_dl item8">
    <dt>標準品</dt>
    <dd>{{ form.standardItem}}</div>
    </dd>
  </dl>

  <dl class="item_dl item9">
    <dt class="height_m sentence_dt2">仕様</dt>
    <dd class="height_m sentence_dd2">{{ form.requestDetail}}</dd>
  </dl>

  <dl class="item_dl item10">
    <dt class="height_m sentence_dt2">備考</dt>
    <dd class="height_m sentence_dd2">{{ form.requestMemo}}</dd>
  </dl>

  <dl class="item_dl item11">
    <dt>数量</dt>
    <dd>{{ form.quantity }}</dd>
  </dl>

  <dl class="item_dl item12">
    <dt>税込総額</dt>
    <dd id="amount" class="request_amount"><input type="tel">{{ form.estimatedAmount }}</dd>
  </dl>

  <dl class="item_dl item13">
    <dt>稟議番号</dt>
    <dd>{{ form.approval}}</dd>
  </dl>

  <dl class="item_dl item14">
    <dt>プロジェクト</dt>
    <dd>{{ form.project}}</dd>
  </dl>

  <dl class="item_dl item15 multiple_items_URL">
    <dt class="height_l">URL</dt>
    <dd class="height_l">
      <div>{{ form.refURL1 }}</div>
      <div>{{ form.refURL2 }}</div>
      <div>{{ form.refURL3 }}</div>
    </dd>
  </dl>

  <dl class="item_dl item16 multiple_items_select">
    <dt class="height_l">費用負担</dt>
    <dd class="height_l">
      <div>{{ form.costCenter1 }}</div>
      <div>{{ form.costCenter2 }}</div>
      <div>{{ form.costCenter3 }}</div>
    </dd>
  </dl>


  <dl class="item_dl item17">
    <dt class="height_l">資料（稟議等）</dt>
    <dd class="height_l multiple_items_update">

      <div class="attachment_update">
        <p>資料（1）</p>
        <div>{{ form.refFile1 }}</div>
      </div>

      <div class="attachment_update">
        <p>資料（2）</p>
        <div>{{ form.refFile2 }}</div>
      </div>
      
      <div class="attachment_update">
        <p>資料（3）</p>
        <div>{{ form.refFile3 }}</div>
      </div>
    </dd>
  </dl>

  <dl class="item_dl item18">
    <dt>精査者</dt>
    <dd id="staffNumber">
      <input name="adminStaffNumber" type="number">
      {{ form.adminStaff }} {{ form.adminStaffdb }}
    </dd>
  </dl>

  <dl class="item_dl item19">
    <dt>進捗</dt>
    <dd class="no_click">{{ form.adminCheck }}</dd>
  </dl>

  
  <dl class="item_dl item20">
    <dt class="height_m">管理メモ</dt>
    <dd class="height_m">{{ form.adminDescription }}</dd>
  </dl>


  <dl class="item_dl item21">
    <dt>発注番号</dt>
    <dd class="no_click">{{ form.orderInfo }}</dd>
  </dl>
  

  <dl class="item_dl item_dl_dummy_s1">
    <dt></dt>
    <dd></dd>
  </dl>

  <dl class="item_dl item_dl_dummy_s2">
    <dt></dt>
    <dd></dd>
  </dl>

</form>
<hr>

{% load static %}
<script src="{% static 'procurement/js/update_request.js' %}"></script>


{% endblock content%}

