{% extends 'procurement/base.html' %}

{% block header %}
  <li>
    <a href="{% url 'procurement:detail_request' object.pk %}"><p>戻る</p></a>
  </li>
{% endblock header %}

{% block content %}


<form class="container_update" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="menu_wrapper_inner item0">
    <div>
      <input class="menu_bt" type="submit" value='更新実行'>
    </div>
    
    <div class="delete_bt">
      <div>削除</div>
      {{ form.deletedItem}}
    </div>
  </div>


  <dl class="item_dl item1">
    <dt>依頼番号</dt>
    <dd class="itemNum">{{ form.requestNum}}</dd>
  </dl>

  <dl class="item_dl item2">
    <dt>依頼日</dt>
    <dd>{{ form.submissionDate}}</dd>
  </dl>
    
  <dl class="item_dl item3">
    <dt>依頼者</dt>
    <dd>{{ form.requestStaff}}</dd>
  </dl>

  <dl class="item_dl item4">
    <dt>依頼者所属</dt>
    <dd>{{ form.requestStaffDivision}}</dd>
  </dl>

  <dl class="item_dl item5">
    <dt>希望納期</dt>
    <dd>{{ form.dueDate }}</dd>
  </dl>

  <dl class="item_dl item6">
    <dt>納品先</dt>
    <dd>{{ form.deliveryAddress}}</dd>
  </dl>

  <dl class="item_dl item7">
    <dt>分類1</dt>
    <dd>{{ form.itemCategory1}}</dd>
  </dl>

  <dl class="item_dl item8">
    <dt>分類2</dt>
    <dd>{{ form.itemCategory2}}</dd>
  </dl>

  <dl class="item_dl item9">
    <dt class="sentence_dt">標準備品</dt>
    <dd class="sentence_dd">

      {{ form.standardItem}}
    </dd>
  </dl>

  <dl class="item_dl item10">
    <dt class="height_m sentence_dt">
      目的・依頼内容
    </dt>
    <dd class="height_m sentence_dd">
      {{ form.requestDescription}}
    </dd>
  </dl>

  <dl class="item_dl item11">
    <dt>数量</dt>
    <dd>{{ form.quantity }}</dd>
  </dl>

  <dl class="item_dl item12">
    <dt>税込総額</dt>
    <dd id="amount" class="request_amount"><input type="tel">{{ form.estimatedAmount }}</dd>
  </dl>

  <dl class="item_dl item13 multiple_items_URL">
    <dt class="height_l">URL</dt>
    <dd class="height_l">
      <div>{{ form.refURL1 }}</div>
      <div>{{ form.refURL2 }}</div>
      <div>{{ form.refURL3 }}</div>
    </dd>
  </dl>

  <dl class="item_dl item14 multiple_items_select">
    <dt class="height_l">費用負担</dt>
    <dd class="height_l">
      <div>{{ form.costCenter1 }}</div>
      <div>{{ form.costCenter2 }}</div>
      <div>{{ form.costCenter3 }}</div>
    </dd>
  </dl>

  <dl class="item_dl item15">
    <dt>進捗</dt>
    <dd>{{ form.adminCheck }}</dd>
  </dl>

  <dl class="item_dl item18">
    <dt>発注番号</dt>
    <dd>{{ form.orderInfo }}</dd>
  </dl>

  <dl class="item_dl item16">
    <dt>管理者</dt>
    <dd>{{ form.adminStaff }}</dd>
  </dl>

  <dl class="item_dl item17">
    <dt class="height_m">管理者メモ</dt>
    <dd class="height_m">{{ form.adminDescription }}</dd>
  </dl>
  
  <dl class="item_dl item_dl_dummy_s">
    <dt></dt> <dd></dd>
  </dl>

  <dl class="item_dl item_dl_dummy_l height_l">
    <dt></dt> <dd></dd>
  </dl>
</div>

</form>
<hr>

<script>
  // 初期値を設定
  function input_zero(){
    document.getElementById('amount').children[0].value = document.getElementById('amount').children[1].value.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
  };
  window.onload = input_zero();

  $(function() {
    $('input[type="tel"]')
      .focusout(function(){
  
        // 金額の入力の場合にカンマを自動入力
        let h = $(this).val().replace(/[^0-9]/g, '');   // 入力値から数字（0～9）以外の文字を削除
        let i = h.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,'); // カンマ区切りの3桁に変換する
        $(this).val(i);  // テキストボックス内の値を上書き
  
        // 合計金額を自動入力
        let amount = Number(document.getElementById('amount').children[0].value.replace(/[^0-9]/g, ''));
  
        // フォームへ自動入力
        document.getElementById('amount').children[1].value = amount;
      });
  });
  
  </script>

{% endblock content%}

